workflows/chat-summarize.json
{
  "id": "chat-summarize",
  "name": "Nightly Chat Summarize",
  "active": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-find-logs",
      "name": "Find Yesterday Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst vaultRoot = $env.VAULT_ROOT;\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toISOString().split('T')[0];\n\nconst logPath = path.join(vaultRoot, '553 - Trace Chats', `${dateStr}.md`);\n\nif (!fs.existsSync(logPath)) {\n  return [{ json: { skip: true, date: dateStr } }];\n}\n\nconst content = fs.readFileSync(logPath, 'utf8');\nreturn [{ json: { skip: false, date: dateStr, content, logPath } }];"
      }
    },
    {
      "id": "node-check-skip",
      "name": "Has Log?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-build-llm-body",
      "name": "Build LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -80],
      "parameters": {
        "jsCode": "const date = $json.date;\nconst content = $json.content;\n\nconst prompt = `You are summarizing a day of conversations between a user and their AI assistant Trace.\n\nDATE: ${date}\n\nCHAT LOG:\n${content}\n\n---\n\nWrite a concise summary of this day's conversations. Include:\n- Main topics discussed\n- Key decisions or actions taken\n- Important notes or insights\n- Any follow-up items mentioned\n\nKeep it under 400 words. Use plain text, no markdown headers.`;\n\nreturn [{\n  json: {\n    date,\n    content,\n    logPath: $json.logPath,\n    body: JSON.stringify({\n      model: 'qwen3.5:27b-32k',\n      prompt,\n      stream: false,\n      options: { num_ctx: 8192 },\n      think: false\n    })\n  }\n}];"
      }
    },
    {
      "id": "node-ollama",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -80],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-build-rag-body",
      "name": "Build RAG Index Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -80],
      "parameters": {
        "jsCode": "const summary = $json.response || '';\nconst date = $('Build LLM Body').item.json.date;\n\nif (!summary.trim()) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    date,\n    summary,\n    body: JSON.stringify({\n      id: date,\n      text: summary,\n      collection: 'chats',\n      metadata: { date, source: '553 - Trace Chats' }\n    })\n  }\n}];"
      }
    },
    {
      "id": "node-rag-index",
      "name": "Index to RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -80],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8500/index",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, -80],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.PIPELINE_BOT_TOKEN }}/sendMessage",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.PIPELINE_CHAT_ID, text: `🧠 Memory indexed: ${$('Build RAG Index Body').item.json.date} — ${$('Build RAG Index Body').item.json.summary.slice(0,200)}…` }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Find Yesterday Logs", "type": "main", "index": 0 }]]
    },
    "Find Yesterday Logs": {
      "main": [[{ "node": "Has Log?", "type": "main", "index": 0 }]]
    },
    "Has Log?": {
      "main": [
        [{ "node": "Build LLM Body", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build LLM Body": {
      "main": [[{ "node": "Generate Summary", "type": "main", "index": 0 }]]
    },
    "Generate Summary": {
      "main": [[{ "node": "Build RAG Index Body", "type": "main", "index": 0 }]]
    },
    "Build RAG Index Body": {
      "main": [[{ "node": "Index to RAG", "type": "main", "index": 0 }]]
    },
    "Index to RAG": {
      "main": [[{ "node": "Telegram Notify", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "chat-summarize-v1"
}
