workflows/email-ingestion.json
{
  "id": "email-ingestion",
  "name": "Email Ingestion",
  "active": false,
  "settings": {
    "errorWorkflow": "error-notifier"
  },
  "nodes": [
    {
      "parameters": {
        "mailbox": "to-vault",
        "action": "read",
        "downloadAttachments": true,
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "node-imap-email",
      "name": "IMAP Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "credentials": {
        "imap": {
          "id": "X2HD0W2z2rVJ6Wnv",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\")\n    .replace(/[ \\t]+/g, ' ').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\nfunction fixMojibake(str) {\n  if (!str || str.indexOf('\\xc3') === -1) return str;\n  try {\n    var fixed = Buffer.from(str, 'latin1').toString('utf8');\n    if (fixed.indexOf('\\ufffd') === -1) return fixed;\n  } catch(e) {}\n  return str;\n}\nconst emailItem = $input.all()[0];\nconst emailJson = emailItem.json;\nconst emailBinary = emailItem.binary || {};\nconst rawFrom = (emailJson.from || '').trim();\nconst bracketPos = rawFrom.indexOf('<');\nconst senderName = bracketPos > 0\n  ? rawFrom.substring(0, bracketPos).split('\"').join('').trim() || 'Unknown'\n  : (rawFrom.replace(/<[^>]+>/g, '').trim() || 'Unknown');\nconst subject = (emailJson.subject || 'No Subject').trim();\nconst d = new Date(emailJson.date || Date.now());\nconst pad = function(n) { return String(n).padStart(2, '0'); };\nconst sentFm = pad(d.getDate()) + '.' + pad(d.getMonth()+1) + '.' + d.getFullYear() + ' ' + pad(d.getHours()) + '.' + pad(d.getMinutes()) + '.' + pad(d.getSeconds());\nconst datePrefix = d.getFullYear() + '-' + pad(d.getMonth()+1) + '-' + pad(d.getDate()) + ' ' + pad(d.getHours()) + '-' + pad(d.getMinutes());\nconst rawText = emailJson.text || emailJson.textPlain || emailJson.plain || '';\nconst rawHtml = emailJson.html || emailJson.textAsHtml || emailJson.htmlBody || '';\nconst bodyText = fixMojibake((rawText.trim() || stripHtml(rawHtml)).trim());\nconst safeSubject = subject.split('/').join('-').split('\\\\').join('-').split(':').join('-').split('*').join('-').split('?').join('-').split('<').join('-').split('>').join('-').split('|').join('-').substring(0, 80).trim();\nconst noteName = datePrefix + ' ' + safeSubject;\nconst notePath = '553 - emails/' + noteName + '.md';\nconst emailMeta = { senderName, subject, sentFm, bodyText, noteName, notePath };\nconst attachmentKeys = Object.keys(emailBinary).filter(function(k) { return k.startsWith('attachment'); });\nif (attachmentKeys.length === 0) {\n  return [{ json: Object.assign({}, emailMeta, { hasFile: false, attFilename: '', mediabankPath: '', attMimeType: '', attTotal: 0 }) }];\n}\nreturn attachmentKeys.map(function(key, i) {\n  const att = emailBinary[key];\n  const origName = att.fileName || att.filename || key;\n  const dotPos = origName.lastIndexOf('.');\n  const ext = dotPos >= 0 ? origName.substring(dotPos) : '';\n  const attFilename = attachmentKeys.length === 1 ? noteName + ext : noteName + '-' + (i + 1) + ext;\n  const mediabankPath = 'Mediabank/' + attFilename;\n  return {\n    json: Object.assign({}, emailMeta, {\n      hasFile: true, attFilename, mediabankPath,\n      attMimeType: att.mimeType || 'application/octet-stream',\n      attTotal: attachmentKeys.length,\n    }),\n    binary: { file: att }\n  };\n});"
      },
      "id": "node-split",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file"
            },
            {
              "name": "dest_path",
              "value": "={{ $json.mediabankPath }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-upload",
      "name": "Upload to Mediabank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const splitItems = $('Split Into Items').all();\nreturn $input.all().map(function(item, i) {\n  return {\n    json: item.json,\n    binary: splitItems[i] ? splitItems[i].binary : {}\n  };\n});"
      },
      "id": "node-restore-binary",
      "name": "Restore Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8800/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "node-convert",
      "name": "Convert File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst splitItems = $('Split Into Items').all();\nconst uploadItems = $('Upload to Mediabank').all();\nreturn items.map(function(item, i) {\n  const splitData = splitItems[i] ? splitItems[i].json : {};\n  if (!splitData.hasFile) return { json: Object.assign({}, splitData, { attSection: '' }) };\n  const convJson = item.json;\n  const uploadJson = uploadItems[i] ? uploadItems[i].json : {};\n  const uploadOk = !uploadJson.error && uploadJson.result === 'ok';\n  const markdown = (!convJson.error && (convJson.markdown || '').trim()) || '*Conversion failed*';\n  const embedLine = uploadOk ? '![[' + splitData.mediabankPath + ']]' : '*Mediabank save failed for ' + splitData.attFilename + '*';\n  const attSection = '\\n\\n---\\n\\n## Attachment: ' + splitData.attFilename + '\\n\\n' + embedLine + '\\n\\n' + markdown;\n  return { json: Object.assign({}, splitData, { attSection }) };\n});"
      },
      "id": "node-build-section",
      "name": "Build Attachment Section",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst first = items[0].json;\nconst attSections = items.map(function(item) { return item.json.attSection || ''; }).filter(function(s) { return s.length > 0; });\nreturn [{\n  json: {\n    senderName: first.senderName,\n    subject: first.subject,\n    sentFm: first.sentFm,\n    bodyText: first.bodyText,\n    noteName: first.noteName,\n    notePath: first.notePath,\n    attSections: attSections,\n  }\n}];"
      },
      "id": "node-aggregate",
      "name": "Aggregate Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3.5:27b', prompt: 'Extract the key points from this email as a concise bullet list (max 7 bullets).\\n\\n' + $json.bodyText, system: 'Extract key information from emails. Output ONLY a markdown bullet list. No preamble.', stream: false, think: false, options: { num_ctx: 32768 } }) }}",
        "options": {}
      },
      "id": "node-ollama",
      "name": "Ollama Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate Sections').first().json;\nconst ollamaResp = $input.first().json;\nconst rawKeyPoints = (ollamaResp.response || '').trim();\nconst keyPoints = agg.bodyText ? rawKeyPoints : '';\nconst fm = ['---', 'subject: ' + agg.subject, 'from: ' + agg.senderName, 'sent: ' + agg.sentFm, '---'].join('\\n');\nconst keySection  = keyPoints    ? '\\n\\n### Key Points\\n\\n' + keyPoints     : '';\nconst bodySection = agg.bodyText ? '\\n\\n### Full Email\\n\\n' + agg.bodyText  : '';\nconst content = fm + '\\n\\nSend by [[' + agg.senderName + ']]' + keySection + bodySection + agg.attSections.join('');\nconst indexText = [keyPoints, agg.bodyText].filter(Boolean).join(' ') || agg.subject;\nconst attCount = agg.attSections.filter(function(s) { return s.length > 0; }).length;\nconst telegramLines = ['Email saved: <b>' + agg.noteName + '</b>', 'From: ' + agg.senderName];\nif (attCount > 0) telegramLines.push('Attachments: ' + attCount);\ntelegramLines.push('Folder: 553 - emails');\nreturn [{\n  json: {\n    noteBody:     JSON.stringify({ path: agg.notePath, content: content, overwrite: true }),\n    indexBody:    JSON.stringify({ id: agg.notePath, text: indexText, collection: 'vault', metadata: { source: agg.notePath, type: 'email' } }),\n    telegramText: telegramLines.join('\\n'),\n    noteName:     agg.noteName,\n  }\n}];"
      },
      "id": "node-assemble",
      "name": "Assemble Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/create_note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.noteBody }}",
        "options": {}
      },
      "id": "node-create-note",
      "name": "Create Vault Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8500/index",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Assemble Note').first().json.indexBody }}",
        "options": {}
      },
      "id": "node-rag",
      "name": "Index to RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "1502389483",
        "text": "={{ $('Assemble Note').first().json.telegramText }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        0
      ],
      "credentials": {}
    }
  ],
  "connections": {
    "IMAP Email": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Upload to Mediabank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Mediabank": {
      "main": [
        [
          {
            "node": "Restore Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Binary": {
      "main": [
        [
          {
            "node": "Convert File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File": {
      "main": [
        [
          {
            "node": "Build Attachment Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Attachment Section": {
      "main": [
        [
          {
            "node": "Aggregate Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sections": {
      "main": [
        [
          {
            "node": "Ollama Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Summarize": {
      "main": [
        [
          {
            "node": "Assemble Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Note": {
      "main": [
        [
          {
            "node": "Create Vault Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vault Note": {
      "main": [
        [
          {
            "node": "Index to RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index to RAG": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}