workflows/email-ingestion.json
{
  "id": "email-ingestion",
  "name": "Email Ingestion",
  "active": false,
  "settings": {
    "errorWorkflow": "error-notifier"
  },
  "nodes": [
    {
      "parameters": {
        "mailbox": "to-vault",
        "action": "read",
        "downloadAttachments": true,
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "node-imap-email",
      "name": "IMAP Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [-400, 0],
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── helpers ─────────────────────────────────────────────────────────────────\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/\\s+/g, ' ').trim();\n}\n\n// ── email metadata ───────────────────────────────────────────────────────────\nconst emailJson = $input.first().json;\nconst emailBinary = $input.first().binary || {};\n\nconst rawFrom = emailJson.from || '';\nconst nameMatch = rawFrom.match(/^\"?([^\"<]+)\"?\\s*</);\nconst senderName = (nameMatch ? nameMatch[1].trim() : rawFrom.replace(/<[^>]+>/g, '').trim()) || 'Unknown';\nconst subject = (emailJson.subject || 'No Subject').trim();\n\nconst d = new Date(emailJson.date || Date.now());\nconst pad = n => String(n).padStart(2, '0');\nconst sentFm = `${pad(d.getDate())}.${pad(d.getMonth()+1)}.${d.getFullYear()} ${pad(d.getHours())}.${pad(d.getMinutes())}.${pad(d.getSeconds())}`;\nconst datePrefix = `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())} ${pad(d.getHours())}-${pad(d.getMinutes())}`;\n\nconst bodyText = (emailJson.text || stripHtml(emailJson.html || '')).trim();\n\n// ── Ollama key-points summary ─────────────────────────────────────────────────\nlet keyPoints = '';\nif (bodyText) {\n  try {\n    const ollamaResp = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'http://host.docker.internal:11434/api/generate',\n      body: {\n        model: 'qwen3.5:27b',\n        prompt: 'Extract the key points from this email as a concise bullet list (max 7 bullets).\\n\\n' + bodyText,\n        system: 'Extract key information from emails. Output ONLY a markdown bullet list. No preamble, no explanation.',\n        stream: false,\n        think: false,\n        options: { num_ctx: 32768 },\n      },\n      json: true,\n    });\n    keyPoints = (ollamaResp.response || '').trim();\n  } catch(e) {\n    keyPoints = '*Summary unavailable: ' + e.message + '*';\n  }\n}\n\n// ── attachments ───────────────────────────────────────────────────────────────\nconst attachmentKeys = Object.keys(emailBinary).filter(k => k.startsWith('attachment'));\nconst attachmentSections = [];\n\nfor (const key of attachmentKeys) {\n  const att = emailBinary[key];\n  const filename = att.fileName || att.filename || key;\n  const mediabankPath = 'Mediabank/' + filename;\n\n  // Save original to Mediabank\n  try {\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: 'http://host.docker.internal:8090/api/upload_base64',\n      body: { data: att.data, filename: filename, dest_path: mediabankPath },\n      json: true,\n    });\n  } catch(e) {\n    // non-fatal\n  }\n\n  // Convert to markdown\n  let attMarkdown = '';\n  try {\n    const convResp = await $helpers.httpRequest({\n      method: 'POST',\n      url: 'http://host.docker.internal:8800/convert-base64',\n      body: { data: att.data, filename: filename, content_type: att.mimeType || 'application/octet-stream' },\n      json: true,\n    });\n    attMarkdown = (convResp.markdown || '').trim();\n  } catch(e) {\n    attMarkdown = '*Conversion failed: ' + e.message + '*';\n  }\n\n  attachmentSections.push('\\n\\n---\\n\\n## Attachment: ' + filename + '\\n\\n![[' + mediabankPath + ']]\\n\\n' + attMarkdown);\n}\n\n// ── assemble note ─────────────────────────────────────────────────────────────\nconst safeSubject = subject.replace(/[\\/\\\\:*?\"<>|]/g, '-').substring(0, 80).trim();\nconst noteName = datePrefix + ' ' + safeSubject;\nconst notePath = '553 - emails/' + noteName + '.md';\n\nconst fm = ['---', 'subject: ' + subject, 'from: ' + senderName, 'sent: ' + sentFm, '---'].join('\\n');\nconst keySection  = keyPoints ? '\\n\\n### Key Points\\n\\n' + keyPoints : '';\nconst bodySection = bodyText  ? '\\n\\n### Full Email\\n\\n' + bodyText   : '';\nconst content = fm + '\\n\\nSend by [[' + senderName + ']]' + keySection + bodySection + attachmentSections.join('');\n\nconst indexText = [keyPoints, bodyText].filter(Boolean).join(' ') || subject;\nconst telegramLines = ['Email saved: <b>' + noteName + '</b>', 'From: ' + senderName];\nif (attachmentKeys.length > 0) telegramLines.push('Attachments: ' + attachmentKeys.length);\ntelegramLines.push('Folder: 553 - emails');\n\nreturn [{\n  json: {\n    noteBody:     JSON.stringify({ path: notePath, content, overwrite: true }),\n    indexBody:    JSON.stringify({ id: notePath, text: indexText, collection: 'vault', metadata: { source: notePath, type: 'email' } }),\n    telegramText: telegramLines.join('\\n'),\n    noteName,\n  }\n}];"
      },
      "id": "node-assemble",
      "name": "Assemble Full Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/create_note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.noteBody }}"
      },
      "id": "node-create-note",
      "name": "Create Vault Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8500/index",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Assemble Full Note').first().json.indexBody }}"
      },
      "id": "node-rag-index",
      "name": "Index to RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.PIPELINE_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.PIPELINE_CHAT_ID }}" },
            { "name": "text",       "value": "={{ $('Assemble Full Note').first().json.telegramText }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        }
      },
      "id": "node-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "IMAP Email": {
      "main": [[{ "node": "Assemble Full Note", "type": "main", "index": 0 }]]
    },
    "Assemble Full Note": {
      "main": [[{ "node": "Create Vault Note", "type": "main", "index": 0 }]]
    },
    "Create Vault Note": {
      "main": [[{ "node": "Index to RAG", "type": "main", "index": 0 }]]
    },
    "Index to RAG": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    }
  }
}
