workflows/error-notifier.json
{
  "id": "error-notifier",
  "name": "Pipeline Error Notifier",
  "active": true,
  "nodes": [
    {
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "node-build-error-body",
      "name": "Build Error Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst node = (err.execution && err.execution.lastNodeExecuted) || 'unknown node';\nconst msg  = (err.execution && err.execution.error && err.execution.error.message) || 'unknown error';\nconst wf   = (err.workflow && err.workflow.name) || 'pipeline';\n\nconst text = '\u26a0\ufe0f <b>Pipeline failed</b>\\n<b>Workflow:</b> ' + wf + '\\n<b>Failed at:</b> <code>' + node + '</code>\\n<b>Error:</b> <code>' + msg.substring(0, 300) + '</code>';\n\nconst body = {\n  chat_id: '1502389483',\n  text: text,\n  parse_mode: 'HTML'\n};\n\nreturn [{ json: { body: JSON.stringify(body), bot_token: '8699271183:AAF6LJ1GjgYcpNiJVcDEQmHZ3GmsLRlAaUU' } }];"
      }
    },
    {
      "id": "node-send-error-tg",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.bot_token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "credentials": {}
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Error Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Body": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}