workflows/meeting-pipeline-v2.json
{
  "id": "meeting-pipeline-v2",
  "name": "Meeting Audio Pipeline v2",
  "description": "Divide-and-conquer meeting pipeline (M59). Same interface as v1. Only one should be active.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c4c621aa-29ac-4304-80da-91ea119c33fa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        -96
      ],
      "webhookId": "meeting-audio"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst fileId = (body.file_id || '').toString().trim();\nconst botToken = (body.bot_token || '').toString().trim();\n\nif (!fileId || !botToken) {\n  throw new Error('Missing required fields: file_id and bot_token');\n}\n\nreturn $input.all();"
      },
      "id": "v2-validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Pipeline started",
        "options": {}
      },
      "id": "03d01032-b6ce-449c-97ef-980a123db747",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.body.bot_token }}/getFile?file_id={{ $json.body.file_id }}",
        "options": {}
      },
      "id": "26ddb4a7-43a7-44f3-8f8f-274e3f661891",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('Webhook').item.json.body.bot_token }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "59ad3f4a-97c4-4d2f-8062-662af55b3633",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/jobs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "diarize",
              "value": "true"
            },
            {
              "name": "language_hint",
              "value": "fi"
            },
            {
              "name": "participants",
              "value": "={{ $('Webhook').item.json.body.participants && $('Webhook').item.json.body.participants.length ? JSON.stringify($('Webhook').item.json.body.participants) : '[]' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b0fb9b5-ba8e-45bd-a1c6-3f9968ea4d6d",
      "name": "Submit Transcription Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        32
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/jobs/{{ $('Submit Transcription Job').item.json.job_id }}",
        "options": {}
      },
      "id": "313a469f-f24b-4b1e-91a9-02beee04af9d",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-done",
              "leftValue": "={{ $json.status.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b80c49c3-3051-42c2-b091-bd762cbc8cc3",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        32
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "b01f30e5-aeb5-41bf-ac8e-2d9502f33b56",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        224
      ],
      "webhookId": "4da3c382-b085-45c0-9cf6-7502b0974ddf"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/jobs/{{ $('Submit Transcription Job').item.json.job_id }}/artifacts/transcript.txt",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "67b1fc54-b48e-4480-a210-e1d0594795ee",
      "name": "Get Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -96
      ]
    },
    {
      "id": "node-warmup-ollama",
      "name": "Warmup Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        32
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"qwen3.5:27b-32k\",\"prompt\":\"hi\",\"stream\":false,\"think\":false,\"num_predict\":1}",
        "options": {
          "timeout": 120000
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/create_note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "815b26e8-5e74-4c52-b337-d7fba2697266",
      "name": "Create Vault Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -96
      ]
    },
    {
      "id": "node-get-transcript-json",
      "name": "Get Transcript JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -96
      ],
      "parameters": {
        "url": "=http://host.docker.internal:8000/jobs/{{ $('Submit Transcription Job').item.json.job_id }}/artifacts/transcript.json",
        "options": {}
      }
    },
    {
      "id": "node-compute-metrics",
      "name": "Compute Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -96
      ],
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst segments = data.segments || [];\n\nconst speakerStats = {};\nfor (const seg of segments) {\n  const spk = seg.speaker || 'Unknown';\n  if (!speakerStats[spk]) {\n    speakerStats[spk] = { totalTime: 0, turns: 0, words: 0, longestTurn: 0, longestTurnText: '', longestTurnTs: 0 };\n  }\n  const s = speakerStats[spk];\n  const dur = seg.end - seg.start;\n  s.totalTime += dur;\n  s.turns++;\n  s.words += (seg.text || '').split(/\\s+/).filter(w => w).length;\n  if (dur > s.longestTurn) {\n    s.longestTurn = dur;\n    s.longestTurnText = (seg.text || '').substring(0, 100);\n    s.longestTurnTs = seg.start;\n  }\n}\n\nconst totalDuration = segments.length ? segments[segments.length - 1].end : 1;\n\nconst interruptions = [];\nfor (let i = 1; i < segments.length; i++) {\n  const prev = segments[i-1], curr = segments[i];\n  const gap = curr.start - prev.end;\n  if (prev.speaker !== curr.speaker && gap < 0.5 && gap > -1) {\n    interruptions.push({ by: curr.speaker, interrupted: prev.speaker, at: curr.start, context: (prev.text || '').substring(0, 60) });\n  }\n}\n\nconst longPauses = [];\nfor (let i = 1; i < segments.length; i++) {\n  const gap = segments[i].start - segments[i-1].end;\n  if (gap > 5) {\n    longPauses.push({ at: segments[i-1].end, duration: Math.round(gap), before: (segments[i-1].text || '').substring(0, 80), after: (segments[i].text || '').substring(0, 80) });\n  }\n}\n\nconst windowSize = 300;\nconst windows = {};\nfor (const seg of segments) {\n  const w = Math.floor(seg.start / windowSize);\n  windows[w] = (windows[w] || 0) + 1;\n}\nconst energyCurve = Object.entries(windows).map(([w, c]) => ({ minuteMark: parseInt(w) * 5, turns: c }));\n\nconst fmt = s => `${Math.floor(s/60)}m${Math.round(s%60)}s`;\nconst ts  = s => new Date(s * 1000).toISOString().substr(11, 5);\n\nlet metricsText = `## QUANTITATIVE METRICS\\n\\n**Total duration:** ${fmt(totalDuration)}\\n**Speakers:** ${Object.keys(speakerStats).length}\\n\\n### Talk Ratios\\n`;\nfor (const [spk, s] of Object.entries(speakerStats)) {\n  const ratio = Math.round(s.totalTime / totalDuration * 100);\n  const wpm   = s.totalTime > 0 ? Math.round(s.words / (s.totalTime / 60)) : 0;\n  metricsText += `- **${spk}**: ${ratio}% airtime (${fmt(s.totalTime)}), ${s.turns} turns, ~${wpm} WPM, longest: ${fmt(s.longestTurn)} at ${ts(s.longestTurnTs)}\\n`;\n  if (s.longestTurnText) metricsText += `  > \"${s.longestTurnText}...\"\\n`;\n}\n\nmetricsText += `\\n### Interruptions (${interruptions.length} total)\\n`;\nif (interruptions.length === 0) {\n  metricsText += `None detected.\\n`;\n} else {\n  const byPair = {};\n  for (const ir of interruptions) { const k = `${ir.by} \\u2192 ${ir.interrupted}`; byPair[k] = (byPair[k]||0)+1; }\n  for (const [pair, count] of Object.entries(byPair)) metricsText += `- ${pair}: ${count}x\\n`;\n}\n\nmetricsText += `\\n### Long Pauses >5s (${longPauses.length} total)\\n`;\nfor (const p of longPauses.slice(0, 5)) {\n  metricsText += `- ${p.duration}s at ${ts(p.at)}: \"...${p.before}\" \\u2192 \"${p.after}...\"\\n`;\n}\nif (longPauses.length === 0) metricsText += `None detected.\\n`;\n\nmetricsText += `\\n### Energy Curve (turns per 5-min window)\\n`;\nmetricsText += energyCurve.map(w => `- min ${w.minuteMark}: ${w.turns} turns`).join('\\n') + '\\n';\n\nreturn [{ json: { metrics: metricsText, speakerStats, interruptions, longPauses, energyCurve, totalDuration } }];\n"
      }
    },
    {
      "id": "node-build-rag-query",
      "name": "Build RAG Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -96
      ],
      "parameters": {
        "jsCode": "\nconst wb = $('Webhook').first().json.body;\nconst participants = wb.participants || [];\nconst meetingName  = wb.meeting_name || '';\nconst query = `meeting intelligence ELITE-INTEL-OMEGA behavioral analysis ${participants.join(' ')} ${meetingName}`;\nreturn [{ json: { body: JSON.stringify({ query, n_results: 10, collection: 'vault' }) } }];\n"
      }
    },
    {
      "id": "node-fetch-historical-context",
      "name": "Fetch Historical Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -96
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8500/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-build-intel-llm-body",
      "name": "Build Intel LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        -96
      ],
      "parameters": {
        "jsCode": "const wb           = $('Webhook').first().json.body;\nconst participants = wb.participants || [];\nconst meetingName  = wb.meeting_name || '';\nconst date         = wb.date || new Date().toISOString().split('T')[0];\nconst minutes      = $('Assemble Minutes').first().json.minutes || '';\nconst metrics      = $('Compute Metrics').first().json.metrics;\nconst ragResults   = $('Fetch Historical Context').first().json;\nconst ragChunks    = Array.isArray(ragResults)\n    ? ragResults.map(r => r.text).join('\\n\\n---\\n\\n')\n    : '';\n\n// Collect per-topic intel analyses\nconst topicIntels = $('Analyze Topic Intel').all();\nconst intelSummaries = topicIntels\n    .sort((a, b) => (a.json.topicIndex || 0) - (b.json.topicIndex || 0))\n    .map(item => `### ${item.json.topicName}\\n${item.json.topicIntel}`)\n    .join('\\n\\n');\n\n// Wikilink pre-validation\nconst ragLower = ragChunks.toLowerCase();\nconst confirmedInVault = participants.filter(p => ragLower.includes(p.toLowerCase().split(' ')[0]));\n\nconst systemPrompt = `You are ELITE-INTEL-OMEGA, a world-class Strategic Intelligence Analyst. Synthesize the per-topic intelligence analyses below into ONE cohesive Meeting Intelligence Report.\n\nYour style: Formal yet razor-sharp. Zero fluff, maximum signal. Every inference is evidence-based. Assign explicit confidence %. Flag speculation as \"hypothesis \u2014 needs external validation.\"\n\nWIKILINK RULES: ALL person mentions MUST be wikilinks. Format: [[Lastname Firstname]] (family name first, ALWAYS reorder — e.g. \"Johanna Aivio\" becomes [[Aivio Johanna]]). [[Firstname]] if only first name known. People confirmed in vault: ${confirmedInVault.join(', ') || 'none confirmed \u2014 use [[Firstname]]'}.\n\nOUTPUT FORMAT (strict Markdown):\n# MEETING INTELLIGENCE REPORT\n**Meeting**: ${meetingName} \u2014 ${date}\n**Analyst**: ELITE-INTEL-OMEGA\n\n## 1. Executive Summary\n(3-5 bullets: highest-signal insights)\n\n## 2. Participant Intelligence Profiles\n(Per person: Role | Core Drivers + evidence | Key Fears + % | Leverage Points)\n\n## 3. Linguistic & Behavioral Forensics\n(Deception/Withholding clusters, Emotional Tone Map, Communication Patterns \u2014 reference metrics)\n\n## 4. Secrets, Fears, Motivations & Hidden Agendas\n\n## 5. Relationship & Power Dynamics\n(Alliances/Tensions, Strategic Leverage)\n\n## 6. Actionable Recommendations\n(Immediate tactical + Strategic long-term + Monitoring signals)\n\n## 7. Longitudinal Delta\n(vs. previous meetings from historical context, or \"First encounter \u2014 baseline established\")\n\n## 8. Obsidian PKMS Integration\n(New wikilinks, atomic notes, MOC updates \u2014 all people as [[Name]])\n\nBe ruthless in honesty, constructive in recommendations.`;\n\nconst userMsg = `## PER-TOPIC INTELLIGENCE ANALYSES\n${intelSummaries}\n\n---\n\n## QUANTITATIVE METRICS\n${metrics}\n\n---\n\n## HISTORICAL CONTEXT (vault excerpts)\n${ragChunks || 'No historical context found.'}`;\n\nreturn [{ json: { body: JSON.stringify({\n    model: 'qwen3.5:27b-32k',\n    stream: false,\n    think: false,\n    num_ctx: 32768,\n    system: systemPrompt,\n    prompt: userMsg\n}) } }];"
      }
    },
    {
      "id": "node-generate-intel-report",
      "name": "Generate Intel Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        -96
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 900000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-build-intel-note-body",
      "name": "Build Intel Note Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        -96
      ],
      "parameters": {
        "jsCode": "\nconst wb          = $('Webhook').first().json.body;\nconst date        = wb.date || new Date().toISOString().split('T')[0];\nconst meetingName = wb.meeting_name || 'Meeting';\nconst resp        = $input.first().json;\nconst report      = resp.response || '';\nif (!report) { return [{ json: { intelPath: '101 - Meeting Intelligence Reports/(intel skipped \u2014 LLM returned empty)' } }]; }\n\nconst now = new Date();\nconst _hTime = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Helsinki'}));\nconst _pad = n => String(n).padStart(2, '0');\nconst createdAt = `${_hTime.getFullYear()}-${_pad(_hTime.getMonth()+1)}-${_pad(_hTime.getDate())} ${_pad(_hTime.getHours())}:${_pad(_hTime.getMinutes())}`;\n\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst path       = `101 - Meeting Intelligence Reports/${date} ${safeName} - Intelligence Report.md`;\nconst minutePath = `100 - Meeting minutes/${date} ${safeName}.md`;\nconst header     = `Intel report generated: ${createdAt}\\nClassification: PERSONAL \\u2014 RESTRICTED\\nTemplate Version: M15.1\\n\\n---\\n\\n`;\nconst crossLink  = `\\n\\n---\\n\\n*Meeting Minutes: [[${minutePath}]]*`;\n\nreturn [{ json: { body: JSON.stringify({ path, content: header + report + crossLink, overwrite: true }), intelPath: path } }];\n"
      },
      "continueOnFail": true
    },
    {
      "id": "node-create-intel-note",
      "name": "Create Intel Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        -96
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/create_note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-build-extract-llm-body",
      "name": "Build Extract LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        100
      ],
      "parameters": {
        "jsCode": "\nconst wb = $('Webhook').first().json.body;\nconst meetingName = wb.meeting_name || 'Meeting';\nconst minutes = $('Assemble Minutes').first().json.minutes || '';\n\nconst systemPrompt = 'You extract structured key items from meeting minutes into a companion reference note.\\nOutput ONLY valid markdown with no preamble or explanation.\\nBe factual \u2014 use only what is explicitly in the minutes.\\nWikilink items: people [[Lastname Firstname]] (family name first, ALWAYS reorder — e.g. \"Johanna Aivio\" becomes [[Aivio Johanna]]; ONLY if both names known; first-name-only = plain text), projects [[Project Name]], tools [[Tool Name]], concepts [[Concept]], resources [[Resource Name]]. Named items become atomic notes via /propagate.\\nOne sentence max per item. Omit sections with no content.';\n\nconst sections = '## People\\nEach person mentioned with role/context: - **[[Name]]** \\u2014 role\\n\\n## Projects & Initiatives\\n- **[[Project Name]]** \\u2014 description, status\\n\\n## Tools & Technologies\\n- **[[Tool Name]]** \\u2014 usage context\\n\\n## Concepts & Terms\\n- **[[Term]]** \\u2014 definition or context\\n\\n## Resources & References\\n- **[[Resource]]** \\u2014 context';\n\nconst userMsg = 'Extract key items from these meeting minutes. Use the headings below; omit any section with no content.\\n\\n' + sections + '\\n\\n---\\nMEETING MINUTES:\\n' + minutes;\n\nreturn [{ json: { body: JSON.stringify({\n    model: 'qwen3.5:27b-32k',\n    stream: false,\n    think: false,\n    num_ctx: 32768,\n    system: systemPrompt,\n    prompt: userMsg\n}) } }];\n"
      },
      "continueOnFail": true
    },
    {
      "id": "node-generate-key-items",
      "name": "Generate Key Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 900000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-build-extract-note-body",
      "name": "Build Extract Note Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        100
      ],
      "parameters": {
        "jsCode": "\nconst wb = $('Webhook').first().json.body;\nconst date = wb.date || new Date().toISOString().split('T')[0];\nconst meetingName = wb.meeting_name || 'Meeting';\nconst resp = $input.first().json;\nconst extract = resp.response || '';\nif (!extract) { return [{ json: { extractPath: '102 - Meeting Extracts/(extract skipped \u2014 LLM returned empty)' } }]; }\n\nconst now = new Date();\nconst _hTime = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Helsinki'}));\nconst _pad = n => String(n).padStart(2, '0');\nconst createdAt = `${_hTime.getFullYear()}-${_pad(_hTime.getMonth()+1)}-${_pad(_hTime.getDate())} ${_pad(_hTime.getHours())}:${_pad(_hTime.getMinutes())}`;\n\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst path = `102 - Meeting Extracts/${date} ${safeName} - Key Items.md`;\nconst minutePath = `100 - Meeting minutes/${date} ${safeName}.md`;\nconst intelPath = `101 - Meeting Intelligence Reports/${date} ${safeName} - Intelligence Report.md`;\n\nconst participants = (wb.participants || []).join(', ');\nconst frontmatter = `---\\nmeeting: \"[[${minutePath}]]\"\\ndate: ${date}\\nparticipants: [${participants}]\\ntags: [meeting-extract]\\n---\\n\\n`;\nconst header = `Extract created: ${createdAt}\\nTemplate Version: M20.1\\n\\n---\\n\\n`;\nconst crossLinks = `\\n\\n---\\n\\n*[[${minutePath}]] \\u00b7 [[${intelPath}]]*`;\n\nreturn [{ json: { body: JSON.stringify({ path, content: frontmatter + header + extract + crossLinks, overwrite: true }), extractPath: path } }];\n"
      },
      "continueOnFail": true
    },
    {
      "id": "node-create-extract-note",
      "name": "Create Extract Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/create_note",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-parse-action-items",
      "name": "Parse Action Items",
      "type": "n8n-nodes-base.code",
      "disabled": true,
      "typeVersion": 2,
      "position": [
        4000,
        100
      ],
      "parameters": {
        "jsCode": "// H3 fix: parse action items from assembled minutes\ntry {\n    const assembleNode = $('Assemble Minutes');\n    const minutesText = assembleNode.first().json.minutes || '';\n    \n    const apRegex = /- \\[ \\] \\*\\*\\*Action Point:\\*\\*\\*/g;\n    const matches = [...minutesText.matchAll(apRegex)];\n    const count = matches.length;\n    \n    if (count > 0) {\n        const lines = minutesText.split('\\n');\n        const apLines = lines.filter(l => l.trim().startsWith('- [ ] ***Action Point:***'));\n        return [{ json: { hasActions: true, count: count, actionItems: apLines.join('\\n') } }];\n    }\n    return [{ json: { hasActions: false, count: 0, actionItems: '' } }];\n} catch(e) {\n    // If Assemble Minutes reference fails, return 0\n    return [{ json: { hasActions: false, count: 0, actionItems: '', error: e.message } }];\n}"
      }
    },
    {
      "id": "node-append-pending-actions",
      "name": "Append Pending Actions",
      "type": "n8n-nodes-base.httpRequest",
      "disabled": true,
      "typeVersion": 4.2,
      "position": [
        4240,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8090/api/append_note",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: \"035 - AI server/Pending Actions.md\", content: $json.appendContent }) }}",
        "options": {
          "timeout": 10000
        },
        "sendBody": true
      }
    },
    {
      "id": "node-build-tg-body",
      "name": "Build Telegram Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        -96
      ],
      "parameters": {
        "jsCode": "const wb = $('Webhook').first().json.body;\nconst date = wb.date || '';\nconst meetingName = wb.meeting_name || 'Meeting';\nconst chatId = wb.chat_id;\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst intelPath = $('Build Intel Note Body').first().json.intelPath || '(intel not generated)';\nconst extractPath = $('Build Extract Note Body').first().json.extractPath || '(extract not generated)';\nconst apCount = $('Parse Action Items').first().json.count || 0;\nconst apLine = apCount > 0 ? `\\n\u2705 <b>${apCount} action item${apCount > 1 ? 's' : ''}</b> added to Pending Actions` : '';\n\nconst text = `<b>Meeting pipeline complete</b>\\n\\n\ud83d\udccb <code>100 - Meeting minutes/${date} ${safeName}.md</code>\\n\ud83d\udd0d <code>${intelPath}</code>\\n\ud83d\uddc2 <code>${extractPath}</code>${apLine}`;\nreturn [{ json: { body: JSON.stringify({ chat_id: chatId, text, parse_mode: 'HTML' }) } }];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Webhook').first().json.body.bot_token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "5ca53d4d-0b99-4a47-9ca4-c44a53e5f3cc",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -96
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://host.docker.internal:8000/jobs/{{ $('Submit Transcription Job').item.json.job_id }}",
        "options": {}
      },
      "id": "node-delete-job",
      "name": "Delete Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3560,
        -96
      ],
      "continueOnFail": true
    },
    {
      "id": "v2-slice-topics",
      "name": "Slice Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        300
      ],
      "parameters": {
        "jsCode": "\nconst webhookBody = $('Webhook').first().json.body;\nconst date = webhookBody.date || new Date().toISOString().split('T')[0];\nconst participants = webhookBody.participants;\nconst participantStr = Array.isArray(participants) && participants.length\n    ? participants.join(', ') : 'unknown';\nconst meetingName = webhookBody.meeting_name || '';\nconst startTime = webhookBody.start_time || '';\nconst endTime = webhookBody.end_time || '';\nconst context = webhookBody.context || '';\nconst transcriptFull = $('Get Transcript').first().json.data;\n\n// Two-pass architecture: speaker_map from Build Topic Segmentation Prompt, topics from Identify Topics\n// Parse speaker map (resolved in pass 1, forwarded through pass 2)\nconst speakerMapData = $('Build Topic Segmentation Prompt').first().json.speakerMap || {};\nconst rawSpeakerMap = speakerMapData;\n\n// Parse topics from pass 2 LLM response\nlet topics = [];\nconst rawTopicResp = $input.first().json.response || '';\ntry {\n    let cleaned = rawTopicResp.trim();\n    if (cleaned.startsWith('```')) {\n        cleaned = cleaned.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n    }\n    const parsed = JSON.parse(cleaned);\n    topics = parsed.topics || [];\n} catch(e) {\n    // Fallback: single topic covering everything\n    topics = [{name: 'Full Meeting', start: 0, end: 999999, summary: 'Complete meeting discussion'}];\n}\n\n// H2 fix: validate speaker map against known participants to prevent phantom attendees\nconst knownLower = participantStr.toLowerCase().split(',').map(p => p.trim()).filter(Boolean);\nconst speakerMap = {};\nfor (const [label, name] of Object.entries(rawSpeakerMap)) {\n    // Accept if label is already a real name (biometric match from voice recognition)\n    if (!label.startsWith('SPEAKER_') && label !== 'Unknown') {\n        speakerMap[label] = name;\n        continue;\n    }\n    // Check if LLM-assigned name matches a known participant\n    const nameLower = name.toLowerCase();\n    const isKnown = knownLower.some(p => {\n        const parts = p.split(' ');\n        return parts.some(part => part.length > 2 && nameLower.includes(part));\n    });\n    speakerMap[label] = isKnown ? name : label;\n}\n\n// Build speaker map comment\nconst mapEntries = Object.entries(speakerMap).map(([k, v]) => `${k} = ${v}`).join(', ');\nconst speakerComment = `<!-- Speaker map: ${mapEntries} -->`;\n\n// Apply speaker names to transcript lines\nlet resolvedTranscript = transcriptFull;\nfor (const [label, name] of Object.entries(speakerMap)) {\n    resolvedTranscript = resolvedTranscript.replaceAll(`[${label}]`, `[${name}]`);\n}\n\n// Slice transcript by timestamps\n// Parse transcript lines to find timestamps \u2014 format: [HH:MM:SS.mmm --> HH:MM:SS.mmm] or [start - end]\nconst lines = resolvedTranscript.split('\\n');\n\nfunction timeToSeconds(timeStr) {\n    // Handle formats like \"00:01:30.500\" or \"90.5\"\n    const parts = timeStr.trim().split(':');\n    if (parts.length === 3) {\n        return parseFloat(parts[0]) * 3600 + parseFloat(parts[1]) * 60 + parseFloat(parts[2]);\n    } else if (parts.length === 2) {\n        return parseFloat(parts[0]) * 60 + parseFloat(parts[1]);\n    }\n    return parseFloat(timeStr) || 0;\n}\n\n// Build line-timestamp mapping\nconst lineTimestamps = [];\nlet lastTimestamp = 0;\nconst tsRegex = /\\[(\\d[\\d:.]+)\\s*(?:-->|->|\\u2013|\\u2014|-)\\s*(\\d[\\d:.]+)\\]/;\nfor (const line of lines) {\n    const match = line.match(tsRegex);\n    if (match) {\n        lastTimestamp = timeToSeconds(match[1]);\n    }\n    lineTimestamps.push({line, timestamp: lastTimestamp});\n}\n\n// For each topic, extract relevant lines\nconst topicItems = [];\nfor (let i = 0; i < topics.length; i++) {\n    const topic = topics[i];\n    const tStart = topic.start || 0;\n    const tEnd = topic.end || 999999;\n    \n    const topicLines = lineTimestamps\n        .filter(lt => lt.timestamp >= tStart && lt.timestamp <= tEnd)\n        .map(lt => lt.line);\n    \n    const topicTranscript = topicLines.join('\\n');\n    \n    topicItems.push({\n        json: {\n            topicIndex: i,\n            topicName: topic.name,\n            topicSummary: topic.summary || '',\n            topicTranscript: topicTranscript,\n            totalTopics: topics.length,\n            speakerComment: speakerComment,\n            speakerMap: speakerMap,\n            date: date,\n            meetingName: meetingName,\n            startTime: startTime,\n            endTime: endTime,\n            participantStr: participantStr,\n            context: context,\n        }\n    });\n}\n\n// H1 fix: catch orphaned lines past the last topic's end timestamp\nif (topicItems.length > 0) {\n    const coveredMax = Math.max(...topics.map(t => t.end || 0));\n    const orphanLines = lineTimestamps\n        .filter(lt => lt.timestamp > coveredMax)\n        .map(lt => lt.line)\n        .filter(l => l.trim());\n    if (orphanLines.length > 0) {\n        // Append orphans to the last topic\n        const lastItem = topicItems[topicItems.length - 1];\n        lastItem.json.topicTranscript += '\\n' + orphanLines.join('\\n');\n    }\n}\n\n// If no topics extracted, pass through entire transcript as single topic\nif (topicItems.length === 0) {\n    topicItems.push({\n        json: {\n            topicIndex: 0,\n            topicName: 'Full Meeting',\n            topicSummary: 'Complete meeting discussion',\n            topicTranscript: resolvedTranscript,\n            totalTopics: 1,\n            speakerComment: speakerComment,\n            speakerMap: speakerMap,\n            date: date,\n            meetingName: meetingName,\n            startTime: startTime,\n            endTime: endTime,\n            participantStr: participantStr,\n            context: context,\n        }\n    });\n}\n\nreturn topicItems;\n"
      }
    },
    {
      "id": "v2-build-topic-prompt",
      "name": "Build Topic Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2152,
        300
      ],
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst topicName = item.topicName;\n\nconst systemPrompt = `You analyze a SINGLE TOPIC from a meeting transcript.\nOutput must be in this exact markdown format:\n\n### ${topicName}\nWrite ONE sentence summarizing the outcome of this topic discussion.\n\n**Key Points:**\nList 3-7 concrete bullets summarizing what was discussed. Include specifics: numbers, owners, systems, dates.\nDo NOT include timestamps, time ranges, or [speaker] labels in key points.\nDo NOT list action items here \u2014 they go in the ACTION ITEMS section below.\n\n**Outcome:** Write exactly one of: \"Decision made\", \"Action items created\", \"Information shared\", or \"No outcome\". Nothing else.\n\nIF a concrete decision was made in this topic, include:\n#### DECISION\n**What:** describe the decision concisely\nIf NO decision was made, OMIT the #### DECISION section entirely. Do NOT write \"No decision\" or leave it empty.\n\nIF concrete action items or follow-ups were agreed, include:\n#### ACTION ITEMS\n- [ ] ***Action Point:*** <emoji> **What:** <task> **Who:** [[Lastname Firstname]] **When:** YYYY-MM-DD\nIf NO action items exist, OMIT the #### ACTION ITEMS section entirely. Do NOT write \"No action items\" or leave it empty.\n\nRULES:\n- Use complexity emoji inline on action items: \ud83d\udfe9 (<1h) \ud83d\udfe8 (1-4h) \ud83d\udfe7 (1-3d) \ud83d\udfe5 (>3d). Do NOT output a legend block.\n- Names MUST be [[Lastname Firstname]] order (family name first). If BOTH first AND last name are known, always write [[Lastname Firstname]]. First-name-only stays plain text, no wikilink.\n- NAME SPELLING: Use exact name spellings from the participant list but ALWAYS reorder to Lastname Firstname. For example, if participant list says \"Johanna Aivio\", write [[Aivio Johanna]].\n- Do NOT invent facts. Only use what is explicitly in the transcript.\n- Do NOT include transcript timestamps like [00:01:30.000] or speaker labels like [Name] in the output.\n- Only create action items for REAL commitments or follow-ups agreed in the meeting. Do NOT create action items for things already done (like \"confirm arrival\") or trivial logistics.\n- **When:** If a specific deadline is mentioned in the transcript, use it (YYYY-MM-DD). If NO deadline is mentioned, derive from complexity + meeting date:\n  \ud83d\udfe9 Easy \u2192 meeting date + 3 days\n  \ud83d\udfe8 Involved \u2192 meeting date + 7 days\n  \ud83d\udfe7 Moderate \u2192 meeting date + 14 days\n  \ud83d\udfe5 Hard \u2192 meeting date + 30 days\n  Calculate the actual date. Never use TBD unless the action is explicitly deferred. Never use dates before the meeting date.\n- Meeting date: ${item.date}\n- Language: Business American English.`;\n\n// Cap topic transcript to fit qwen3:8b context (32k tokens ~ 80k chars)\nconst MAX_TOPIC_CHARS = 28000;\nconst safeTranscript = item.topicTranscript.length > MAX_TOPIC_CHARS\n    ? item.topicTranscript.substring(0, MAX_TOPIC_CHARS) + '\\n\\n[... topic section truncated \u2014 analyze what is visible above ...]'\n    : item.topicTranscript;\n\nconst safeTopic = item.topicName.replace(/`/g, \"'\");\n\nconst userMsg = `### ${safeTopic}\\nContext: ${item.topicSummary || 'see transcript'}\\nParticipants: ${item.participantStr}\\n${item.context ? 'Background: ' + item.context + '\\n' : ''}\\nTranscript:\\n${safeTranscript}`;\n\nreturn { json: {\n    topicIndex: item.topicIndex,\n    topicName: item.topicName,\n    totalTopics: item.totalTopics,\n    body: JSON.stringify({\n        model: 'qwen3:8b',\n        stream: false,\n        think: false,\n        num_ctx: 32768,\n        system: systemPrompt,\n        prompt: userMsg\n    })\n} };",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "v2-analyze-topic",
      "name": "Analyze Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst bodyObj = JSON.parse(item.body);\n\n// Call Ollama via n8n built-in HTTP helper\nconst result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:11434/api/generate',\n    body: bodyObj,\n    headers: {'Content-Type': 'application/json'},\n    timeout: 600000,\n    returnFullResponse: false,\n    json: true,\n});\n\nreturn {\n    json: {\n        response: result.response || '',\n        topicIndex: item.topicIndex,\n        topicName: item.topicName,\n        totalTopics: item.totalTopics,\n    }\n};"
      }
    },
    {
      "id": "v2-assemble-minutes",
      "name": "Assemble Minutes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2552,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get metadata from first item's input\nconst firstInput = $('Slice Topics').first().json;\nconst date = firstInput.date;\nconst meetingName = firstInput.meetingName;\nconst startTime = firstInput.startTime;\nconst endTime = firstInput.endTime;\nconst participantStr = firstInput.participantStr;\nconst speakerComment = firstInput.speakerComment;\nconst speakerMap = firstInput.speakerMap || {};\nconst context = firstInput.context || '';\n\n// Build attendees from speaker map\nconst attendees = new Set();\nattendees.add('[[Rantala Petri]]');\nfor (const name of Object.values(speakerMap)) {\n    if (name && name !== 'Unknown' && !name.startsWith('SPEAKER_')) {\n        attendees.add(`[[${name}]]`);\n    }\n}\nconst attendeeLines = [...attendees].map(a => `- [x] ${a}`).join('\\n');\n\n// Sort topic results by index\nconst sorted = items.map(i => ({\n    index: i.json.topicIndex || 0,\n    name: i.json.topicName || 'Topic',\n    content: i.json.response || '',\n})).sort((a, b) => a.index - b.index);\n\n// Build descriptive meeting summary \u2014 first meaningful line from each topic\nconst summaryLines = sorted.map(t => {\n    const lines = (t.content || '').split('\\n');\n    const desc = lines.find(l => l.trim() && !l.startsWith('#') && !l.startsWith('<') && !l.startsWith('**Key') && !l.startsWith('**Outcome'));\n    return `- **${t.name}:** ${desc || t.name}`;\n}).join('\\n');\n\n// Build agenda with wikilinks to headings\nconst agenda = sorted.map(t => `- [[#${t.name}]]`).join('\\n');\n\n// Build notes body from all topic analyses\nconst notesBody = sorted.map(t => t.content).join('\\n\\n');\n\n// Assemble full minutes\nconst minutes = `${speakerComment}\n\n---\n- **Date:** [[${date}]]\n- **Start Time:** ${startTime || 'unknown'}\n- **End Time:** ${endTime || 'unknown'}\n- **Attendees:**\n${attendeeLines}\n\n#### Link(s) to project(s) or note(s) if any\n-\n\n## Meeting Summary\n${summaryLines}\n\n## Agenda\n${agenda}\n\n## Notes\n\n${notesBody}\n\n## Screenshots\n`;\n\nreturn [{ json: { minutes: minutes } }];"
      }
    },
    {
      "id": "v2-build-note-body",
      "name": "Build Note Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        300
      ],
      "parameters": {
        "jsCode": "\nconst webhookBody = $('Webhook').first().json.body;\nconst date = webhookBody.date || new Date().toISOString().split('T')[0];\nconst meetingName = webhookBody.meeting_name || 'Meeting';\n\nconst minutes = $input.first().json.minutes;\n\nif (!minutes) {\n    throw new Error('No minutes assembled');\n}\n\nconst now = new Date();\nconst _hTime = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Helsinki'}));\nconst _pad = n => String(n).padStart(2, '0');\nconst createdAt = `${_hTime.getFullYear()}-${_pad(_hTime.getMonth()+1)}-${_pad(_hTime.getDate())} ${_pad(_hTime.getHours())}:${_pad(_hTime.getMinutes())}`;\n\nconst header = `<div style=\"font-size: 0.5em;\"> These notes were created using a temporary audio recording of a meeting held on ${date}. The audio was transcribed using a cloud-based service to support accurate note-taking. The recording was deleted immediately after transcription. The final document is stored locally and not shared externally. </div>\n\nMinutes created: ${createdAt} \u00a9 Petri Rantala\nTags: #\ud83d\udcd3 \u2696 \u2705 \ud83e\udd1d\nTemplate Version: 2.0-v2\nPipeline: divide-and-conquer (M59)\n\n---\n\n`;\n\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst path = `100 - Meeting minutes/${date} ${safeName}.md`;\nconst intelPath = `101 - Meeting Intelligence Reports/${date} ${safeName} - Intelligence Report.md`;\nconst crossLink = `\\n\\n---\\n\\n*Intelligence Report: [[${intelPath}]]*`;\nreturn [{ json: { body: JSON.stringify({ path, content: header + minutes + crossLink, overwrite: true }) } }];\n"
      }
    },
    {
      "parameters": {
        "jsCode": "// Fan out: one intel prompt per topic using the already-analyzed topic content\nconst topicResults = $('Analyze Topic').all();\nconst wb = $('Webhook').first().json.body;\nconst participants = wb.participants || [];\nconst participantStr = Array.isArray(participants) && participants.length ? participants.join(', ') : 'unknown';\nconst date = wb.date || new Date().toISOString().split('T')[0];\n\nconst systemPrompt = `You are a meeting intelligence analyst. For this SINGLE TOPIC, identify:\n1. Key behavioral signals (who said what, tone, hedging, confidence levels)\n2. Power dynamics and influence patterns\n3. Hidden concerns or unspoken risks\n4. Deception or withholding indicators (with confidence %)\n5. Motivations and drivers for each speaker\n\nBe evidence-based: cite specific quotes or paraphrases with speaker attribution.\nUse wikilinks for person names: [[Lastname Firstname]] (family name first, ALWAYS reorder — e.g. \"Johanna Aivio\" becomes [[Aivio Johanna]]). First-name-only = plain text, no wikilink.\nOutput concise markdown (max 500 words). No preamble.`;\n\nconst items = topicResults.map(item => {\n    const topicContent = item.json.response || '';\n    const topicName = item.json.topicName || 'Topic';\n    const topicIndex = item.json.topicIndex || 0;\n\n    // Get the original topic transcript from Slice Topics\n    const sliceItems = $('Slice Topics').all();\n    const sliceItem = sliceItems.find(s => s.json.topicIndex === topicIndex);\n    const topicTranscript = sliceItem ? sliceItem.json.topicTranscript || '' : '';\n\n    // Cap per-topic transcript for 8b model\n    const MAX_CHARS = 20000;\n    const safeTranscript = topicTranscript.length > MAX_CHARS\n        ? topicTranscript.substring(0, MAX_CHARS) + '\\n[...truncated...]'\n        : topicTranscript;\n\n    const userMsg = `Topic: ${topicName}\\nParticipants: ${participantStr}\\nDate: ${date}\\n\\n## Meeting Minutes (this topic)\\n${topicContent}\\n\\n## Raw Transcript (this topic)\\n${safeTranscript}`;\n\n    return {\n        json: {\n            topicIndex: topicIndex,\n            topicName: topicName,\n            body: JSON.stringify({\n                model: 'qwen3:8b',\n                stream: false,\n                think: false,\n                num_ctx: 32768,\n                system: systemPrompt,\n                prompt: userMsg\n            })\n        }\n    };\n});\n\nreturn items;",
        "mode": "runOnceForAllItems"
      },
      "id": "v2-build-topic-intel-prompts",
      "name": "Build Per-Topic Intel Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst bodyObj = JSON.parse(item.body);\n\nconst result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:11434/api/generate',\n    body: bodyObj,\n    headers: {'Content-Type': 'application/json'},\n    timeout: 600000,\n    returnFullResponse: false,\n    json: true,\n});\n\nreturn {\n    json: {\n        topicIntel: result.response || '',\n        topicIndex: item.topicIndex,\n        topicName: item.topicName,\n    }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "v2-analyze-topic-intel",
      "name": "Analyze Topic Intel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookBody = $('Webhook').first().json.body;\nconst participants = webhookBody.participants;\nconst participantStr = Array.isArray(participants) && participants.length\n    ? participants.join(', ') : 'unknown';\nconst rawTranscript = $('Get Transcript').first().json.data || '';\n\n// Full transcript for speaker ID \u2014 even 83-min meetings (72k chars) fit in 32k tokens\n// Prompt eval dominates (~220s), generation is tiny (~50 tokens)\nconst MAX_CHARS = 75000;\nconst transcript = rawTranscript.length > MAX_CHARS\n    ? rawTranscript.substring(0, MAX_CHARS) + '\\n\\n[... truncated ...]'\n    : rawTranscript;\n\nconst systemPrompt = `You identify speakers in a meeting transcript.\n\nRULES:\n- Speakers already labeled with a real name (e.g. [Petri], [Mikko]) are biometrically verified. Do NOT change them. Map them to themselves.\n- Only identify unresolved labels: [SPEAKER_00], [SPEAKER_01], [Unknown], etc.\n- Look for self-introductions (\"I'm Johanna\"), direct address (\"Thanks Petri\"), role signals.\n- Cross-reference with known participants list.\n- If you cannot identify a speaker, keep the original label.\n\n- Names MUST be in Lastname Firstname order (family name first). If participants say \"Johanna Aivio\", map to \"Aivio Johanna\". If only a first name is known, keep just the first name.\n\nOUTPUT FORMAT (strict JSON, no markdown, no explanation):\n{\"speaker_map\": {\"SPEAKER_00\": \"Lastname Firstname\", \"SPEAKER_01\": \"SPEAKER_01\"}}`;\n\nconst userMsg = `Known participants: ${participantStr}\\n\\nTranscript:\\n${transcript}`;\n\nreturn [{ json: {\n    body: JSON.stringify({\n        model: 'qwen3.5:27b-32k',\n        stream: false,\n        think: false,\n        num_ctx: 32768,\n        system: systemPrompt,\n        prompt: userMsg\n    }),\n    participantStr: participantStr,\n    rawTranscript: rawTranscript\n} }];"
      },
      "id": "v2-build-speaker-id",
      "name": "Build Speaker ID Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "v2-identify-speakers",
      "name": "Identify Speakers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1352,
        300
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const rawTranscript = $('Get Transcript').first().json.data || '';\n\n// Parse speaker map from previous pass\nlet speakerMap = {};\nconst speakerResp = $input.first().json.response || '';\ntry {\n    let cleaned = speakerResp.trim();\n    if (cleaned.startsWith('```')) {\n        cleaned = cleaned.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n    }\n    const parsed = JSON.parse(cleaned);\n    speakerMap = parsed.speaker_map || {};\n} catch(e) {\n    // No speaker map \u2014 proceed with original labels\n}\n\n// Apply speaker names to transcript for better topic identification\nlet resolvedTranscript = rawTranscript;\nfor (const [label, name] of Object.entries(speakerMap)) {\n    resolvedTranscript = resolvedTranscript.replaceAll('[' + label + ']', '[' + name + ']');\n}\n\n// Full transcript \u2014 same budget as speaker ID pass\nconst MAX_CHARS = 75000;\nconst transcript = resolvedTranscript.length > MAX_CHARS\n    ? resolvedTranscript.substring(0, MAX_CHARS) + '\\n\\n[... truncated ...]'\n    : resolvedTranscript;\n\nconst systemPrompt = `You identify discussion topics in a meeting transcript.\n\nFor each topic, provide:\n- A short descriptive name (3-8 words)\n- The start and end timestamps (from the [HH:MM:SS] markers in the transcript)\n- A one-sentence summary of the discussion\n\nOUTPUT FORMAT (strict JSON, no markdown, no explanation):\n{\"topics\": [\n  {\"name\": \"Project timeline update\", \"start\": 0.0, \"end\": 180.5, \"summary\": \"Discussed Q2 milestones\"},\n  {\"name\": \"Budget review\", \"start\": 181.0, \"end\": 450.2, \"summary\": \"Reviewed cost overruns\"}\n]}\n\nRULES:\n- Output ONLY valid JSON. No markdown fences, no explanation.\n- Every second of the transcript must be covered by exactly one topic.\n- Topics must be in chronological order with no gaps.\n- The LAST topic MUST have end: 999999 to capture all remaining content.\n- Merge very short topics (< 30s) into adjacent ones.\n- Typical meetings have 3-15 topics.`;\n\nconst userMsg = `Transcript:\\n${transcript}`;\n\nreturn [{ json: {\n    body: JSON.stringify({\n        model: 'qwen3.5:27b-32k',\n        stream: false,\n        think: false,\n        num_ctx: 32768,\n        system: systemPrompt,\n        prompt: userMsg\n    }),\n    speakerMapRaw: speakerResp,\n    speakerMap: speakerMap\n} }];"
      },
      "id": "v2-build-topic-seg",
      "name": "Build Topic Segmentation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "v2-identify-topics",
      "name": "Identify Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1752,
        300
      ],
      "retryOnFail": false
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst wb = $('Webhook').first().json.body;\nconst queueId = wb.queue_id || 'unknown';\nconst meetingName = wb.meeting_name || '';\nconst doneDir = '/data/pipeline_done';\ntry { fs.mkdirSync(doneDir, { recursive: true }); } catch(e) {}\nfs.writeFileSync(doneDir + '/' + queueId + '.json', JSON.stringify({\n    queue_id: queueId,\n    meeting_name: meetingName,\n    status: 'complete',\n    completed_at: new Date().toISOString()\n}));\nreturn $input.all();"
      },
      "id": "node-mark-complete",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nlet queueId = 'unknown';\nlet meetingName = '';\ntry {\n    const wb = $('Webhook').first().json.body;\n    queueId = wb.queue_id || 'unknown';\n    meetingName = wb.meeting_name || '';\n} catch(e) {\n    // Error trigger may not have Webhook context \u2014 try execution data\n    try {\n        const execData = $input.first().json;\n        // Look for queue_id in the execution metadata\n        if (execData.execution && execData.execution.data) {\n            const triggerData = execData.execution.data.resultData?.runData?.Webhook;\n            if (triggerData) {\n                const body = triggerData[0]?.data?.main?.[0]?.[0]?.json?.body;\n                if (body) {\n                    queueId = body.queue_id || 'unknown';\n                    meetingName = body.meeting_name || '';\n                }\n            }\n        }\n    } catch(e2) {}\n}\nconst doneDir = '/data/pipeline_done';\ntry { fs.mkdirSync(doneDir, { recursive: true }); } catch(e) {}\nconst errorMsg = $input.first().json.execution?.error?.message || 'unknown error';\nfs.writeFileSync(doneDir + '/' + queueId + '.json', JSON.stringify({\n    queue_id: queueId,\n    meeting_name: meetingName,\n    status: 'failed',\n    completed_at: new Date().toISOString(),\n    error: errorMsg\n}));\nreturn [{json: {queue_id: queueId, status: 'failed', error: errorMsg}}];"
      },
      "id": "node-mark-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Submit Transcription Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcription Job": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Get Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript": {
      "main": [
        [
          {
            "node": "Warmup Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warmup Ollama": {
      "main": [
        [
          {
            "node": "Build Speaker ID Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice Topics": {
      "main": [
        [
          {
            "node": "Build Topic Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Topic Prompt": {
      "main": [
        [
          {
            "node": "Analyze Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Topic": {
      "main": [
        [
          {
            "node": "Assemble Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Minutes": {
      "main": [
        [
          {
            "node": "Build Note Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Note Body": {
      "main": [
        [
          {
            "node": "Create Vault Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vault Note": {
      "main": [
        [
          {
            "node": "Get Transcript JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript JSON": {
      "main": [
        [
          {
            "node": "Compute Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Metrics": {
      "main": [
        [
          {
            "node": "Build RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Query": {
      "main": [
        [
          {
            "node": "Fetch Historical Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Historical Context": {
      "main": [
        [
          {
            "node": "Build Per-Topic Intel Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Intel LLM Body": {
      "main": [
        [
          {
            "node": "Generate Intel Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Intel Report": {
      "main": [
        [
          {
            "node": "Build Intel Note Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Intel Note Body": {
      "main": [
        [
          {
            "node": "Create Intel Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Intel Note": {
      "main": [
        [
          {
            "node": "Build Extract LLM Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extract LLM Body": {
      "main": [
        [
          {
            "node": "Generate Key Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Key Items": {
      "main": [
        [
          {
            "node": "Build Extract Note Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extract Note Body": {
      "main": [
        [
          {
            "node": "Create Extract Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Extract Note": {
      "main": [
        [
          {
            "node": "Parse Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Action Items": {
      "main": [
        [
          {
            "node": "Append Pending Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Pending Actions": {
      "main": [
        [
          {
            "node": "Build Telegram Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Body": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "Delete Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Per-Topic Intel Prompts": {
      "main": [
        [
          {
            "node": "Analyze Topic Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Topic Intel": {
      "main": [
        [
          {
            "node": "Build Intel LLM Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Speaker ID Prompt": {
      "main": [
        [
          {
            "node": "Identify Speakers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Speakers": {
      "main": [
        [
          {
            "node": "Build Topic Segmentation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Topic Segmentation Prompt": {
      "main": [
        [
          {
            "node": "Identify Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Topics": {
      "main": [
        [
          {
            "node": "Slice Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Job": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "errorWorkflow": "error-notifier"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}