workflows/pipeline-orchestrator.json
{"id":"pipeline-orchestrator","name":"Pipeline: Orchestrator","description":"Main entry point. Receives Telegram webhook, orchestrates Transcribe \u2192 Analyze \u2192 Intel + Extract (parallel), then notifies.","active":false,"isArchived":false,"settings":{"executionOrder":"v1","errorWorkflow":"error-notifier"},"nodes":[{"parameters":{"httpMethod":"POST","path":"meeting-audio","responseMode":"responseNode","options":{}},"id":"c4c621aa-29ac-4304-80da-91ea119c33fa","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,-96],"webhookId":"meeting-audio"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst fileId = (body.file_id || '').toString().trim();\nconst botToken = (body.bot_token || '').toString().trim();\n\nif (!fileId || !botToken) {\n  throw new Error('Missing required fields: file_id and bot_token');\n}\n\nreturn $input.all();"},"id":"v2-validate-input","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-96]},{"parameters":{"respondWith":"text","responseBody":"Pipeline started","options":{}},"id":"03d01032-b6ce-449c-97ef-980a123db747","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[160,-208]},{"parameters":{"jsCode":"// Pass webhook body fields to WF1\nconst body = $('Webhook').first().json.body || $('Webhook').first().json;\nreturn [{json: {\n  file_id: (body.file_id || '').toString().trim(),\n  bot_token: (body.bot_token || '').toString().trim(),\n  meeting_name: body.meeting_name || 'Untitled Meeting',\n  participants: body.participants || '',\n  date: body.date || new Date().toISOString().slice(0, 10),\n  start_time: body.start_time || '',\n  queue_id: body.queue_id || '',\n  end_time: body.end_time || '',\n  chat_id: body.chat_id || ''\n}}];"},"id":"306bbe6b-2434-4bee-af57-eb3838aca4ab","name":"Prep Transcribe Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-96]},{"parameters":{"source":"database","workflowId":{"value":"pipeline-transcribe"},"options":{}},"id":"5e1b5054-757f-49e6-9121-e304558ac980","name":"Run Transcribe","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[650,-96]},{"parameters":{"jsCode":"// Pass transcript + metadata to WF2\nconst wf1 = $('Run Transcribe').first().json;\nconst webhookData = $('Prep Transcribe Input').first().json;\n\n// Calculate end_time from transcript last timestamp if not provided\nlet endTime = wf1.end_time || '';\nif (!endTime && wf1.transcript && wf1.transcript.data) {\n    const tsMatch = wf1.transcript.data.match(/\\[(\\d[\\d:.]+)\\s*(?:-->|->|\u2013|\u2014|-)\\s*(\\d[\\d:.]+)\\]/g);\n    if (tsMatch && tsMatch.length > 0) {\n        const last = tsMatch[tsMatch.length - 1];\n        const endMatch = last.match(/(?:-->|->|\u2013|\u2014|-)\\s*(\\d[\\d:.]+)/);\n        if (endMatch) {\n            const parts = endMatch[1].split(':');\n            let totalSec = 0;\n            if (parts.length === 3) totalSec = parseFloat(parts[0])*3600 + parseFloat(parts[1])*60 + parseFloat(parts[2]);\n            else if (parts.length === 2) totalSec = parseFloat(parts[0])*60 + parseFloat(parts[1]);\n            // Convert start_time + totalSec to HH:MM\n            const startParts = (wf1.start_time || '08:00').split(':');\n            const startSec = parseInt(startParts[0])*3600 + parseInt(startParts[1])*60;\n            const endSec = startSec + totalSec;\n            const endH = Math.floor(endSec / 3600);\n            const endM = Math.floor((endSec % 3600) / 60);\n            endTime = String(endH).padStart(2, '0') + ':' + String(endM).padStart(2, '0');\n        }\n    }\n}\n\nreturn [{json: {\n  transcript: wf1.transcript,\n  meeting_name: wf1.meeting_name,\n  participants: wf1.participants,\n  date: wf1.date,\n  start_time: wf1.start_time,\n  end_time: endTime,\n  chat_id: webhookData.chat_id || '',\n  queue_id: webhookData.queue_id || '',\n  context: webhookData.context || '',\n  file_id: wf1.file_id || '',\n  bot_token: wf1.bot_token || ''\n}}];"},"id":"f04e36e6-0af9-4552-92e5-390da6fcc5b1","name":"Prep Analyze Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,-96]},{"parameters":{"source":"database","workflowId":{"value":"pipeline-analyze"},"options":{}},"id":"a09f7b16-8785-43ef-8bc1-ec94fcfcf3ce","name":"Run Analyze","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1150,-96]},{"parameters":{"jsCode":"// Prepare shared input for Intel (WF3) and Extract (WF4)\nconst wf2 = $('Run Analyze').first().json;\nreturn [{json: {\n  meeting_name: wf2.meeting_name,\n  participants: wf2.participants,\n  date: wf2.date,\n  start_time: wf2.start_time,\n  minutesText: wf2.minutesText,\n  assembledMinutesJson: wf2.assembledMinutesJson,\n  topics: wf2.topics,\n  analyzedTopics: wf2.analyzedTopics,\n  transcript: wf2.transcript\n}}];"},"id":"a2ae0a59-8a39-4254-84aa-4790ecbf4e70","name":"Prep Downstream Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,-96]},{"parameters":{"source":"database","workflowId":{"value":"pipeline-intel"},"options":{}},"id":"bada832a-4f2c-4c72-84d5-24a87b0bd06a","name":"Run Intel Report","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1650,-96],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Re-fetch original downstream data for extract (serial flow: intel output \u2260 extract input)\nconst wf2 = $('Prep Downstream Input').first().json;\nreturn [{json: {\n  minutesText: wf2.minutesText,\n  meeting_name: wf2.meeting_name,\n  participants: wf2.participants,\n  date: wf2.date,\n  start_time: wf2.start_time,\n  bot_token: $('Run Transcribe').first().json.bot_token || ''\n}}];"},"id":"node-prep-extract-input","name":"Prep Extract Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,-96]},{"parameters":{"source":"database","workflowId":{"value":"pipeline-extract"},"options":{}},"id":"5f38ce0c-6655-4d71-bf42-3c2ce3ce6e81","name":"Run Key Items Extract","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2100,-96],"onError":"continueRegularOutput"},{"id":"node-build-tg-body","name":"Build Telegram Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2350,-96],"parameters":{"jsCode":"// Build Telegram notification from orchestrator data\nconst wf1 = $('Run Transcribe').first().json;\nconst wf2 = $('Run Analyze').first().json;\nconst webhookData = $('Prep Transcribe Input').first().json;\n\nconst meetingName = wf2.meeting_name || wf1.meeting_name || 'Unknown';\nconst date = wf2.date || wf1.date || '';\nconst topicCount = (wf2.topics || []).length;\nconst chatId = webhookData.chat_id || '';\n\n// Build paths\nconst minutesPath = `100 - Meeting minutes/${date} ${meetingName}.md`;\nconst intelPath = `101 - Meeting Intelligence Reports/${date} ${meetingName} - Intelligence Report.md`;\nconst extractPath = `102 - Meeting Extracts/${date} ${meetingName} - Key Items.md`;\n\n// Check if WF3/WF4 succeeded (continueOnFail means they might have error output)\nconst wf3Ok = !$('Run Intel Report').first().json?.error;\nconst wf4Ok = !$('Run Key Items Extract').first().json?.error;\n\nlet msg = `\\ud83d\\udcdd *Meeting minutes created*\\n`;\nmsg += `\\ud83d\\udccb ${meetingName} (${date})\\n`;\nmsg += `\\ud83d\\udcca ${topicCount} topic${topicCount !== 1 ? 's' : ''} analyzed\\n\\n`;\nmsg += `\\ud83d\\udcc4 \\`${minutesPath}\\`\\n`;\n\nif (wf3Ok) {\n  msg += `\\ud83d\\udd0d \\`${intelPath}\\`\\n`;\n} else {\n  msg += `\\u26a0\\ufe0f Intel report failed\\n`;\n}\n\nif (wf4Ok) {\n  msg += `\\ud83d\\uddc2 \\`${extractPath}\\`\\n`;\n} else {\n  msg += `\\u26a0\\ufe0f Key items extract failed\\n`;\n}\n\nconst body = {\n  chat_id: chatId,\n  text: msg,\n  parse_mode: 'Markdown'\n};\n\nreturn [{json: {body: JSON.stringify(body), bot_token: wf1.bot_token}}];\n"}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Build Telegram Body').first().json.bot_token }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"id":"5ca53d4d-0b99-4a47-9ca4-c44a53e5f3cc","name":"Send Telegram Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,-96]},{"parameters":{"method":"DELETE","url":"=http://host.docker.internal:8000/jobs/{{ $('Run Transcribe').item.json.job_id }}","options":{}},"id":"node-delete-job","name":"Delete Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2850,-96],"continueOnFail":true},{"parameters":{"jsCode":"const fs = require('fs');\nconst wb = $('Prep Transcribe Input').first().json;\nconst queueId = wb.queue_id || 'unknown';\nconst meetingName = wb.meeting_name || '';\nconst doneDir = '/data/pipeline_done';\ntry { fs.mkdirSync(doneDir, { recursive: true }); } catch(e) {}\nfs.writeFileSync(doneDir + '/' + queueId + '.json', JSON.stringify({\n    queue_id: queueId,\n    meeting_name: meetingName,\n    status: 'complete',\n    completed_at: new Date().toISOString()\n}));\nreturn $input.all();"},"id":"node-mark-complete","name":"Mark Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,-96]},{"parameters":{},"id":"node-error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[2100,200]},{"parameters":{"jsCode":"const fs = require('fs');\nlet queueId = 'unknown';\nlet meetingName = '';\ntry {\n    const wb = $('Prep Transcribe Input').first().json;\n    queueId = wb.queue_id || 'unknown';\n    meetingName = wb.meeting_name || '';\n} catch(e) {}\nconst doneDir = '/data/pipeline_done';\ntry { fs.mkdirSync(doneDir, { recursive: true }); } catch(e) {}\nconst errorMsg = $input.first().json.execution?.error?.message || 'unknown error';\nfs.writeFileSync(doneDir + '/' + queueId + '.json', JSON.stringify({\n    queue_id: queueId,\n    meeting_name: meetingName,\n    status: 'failed',\n    completed_at: new Date().toISOString(),\n    error: errorMsg\n}));\nreturn [{json: {queue_id: queueId, status: 'failed', error: errorMsg}}];"},"id":"node-mark-failed","name":"Mark Failed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2350,200]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Prep Transcribe Input","type":"main","index":0}]]},"Prep Transcribe Input":{"main":[[{"node":"Run Transcribe","type":"main","index":0}]]},"Run Transcribe":{"main":[[{"node":"Prep Analyze Input","type":"main","index":0}]]},"Prep Analyze Input":{"main":[[{"node":"Run Analyze","type":"main","index":0}]]},"Run Analyze":{"main":[[{"node":"Prep Downstream Input","type":"main","index":0}]]},"Prep Downstream Input":{"main":[[{"node":"Run Intel Report","type":"main","index":0}]]},"Run Intel Report":{"main":[[{"node":"Prep Extract Input","type":"main","index":0}]]},"Prep Extract Input":{"main":[[{"node":"Run Key Items Extract","type":"main","index":0}]]},"Run Key Items Extract":{"main":[[{"node":"Build Telegram Body","type":"main","index":0}]]},"Build Telegram Body":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0}]]},"Send Telegram Notification":{"main":[[{"node":"Delete Job","type":"main","index":0}]]},"Delete Job":{"main":[[{"node":"Mark Complete","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Mark Failed","type":"main","index":0}]]}},"pinData":{}}