workflows/pipeline-analyze.json
{"id": "pipeline-analyze", "name": "Pipeline: Analyze", "description": "Sub-workflow: speaker ID, topic segmentation, per-topic analysis, assemble minutes, create vault note.", "active": false, "isArchived": false, "settings": {"executionOrder": "v1", "callerPolicy": "any"}, "nodes": [{"parameters": {"workflowInputs": {"values": [{"name": "transcript", "type": "object"}, {"name": "file_id", "type": "string"}, {"name": "bot_token", "type": "string"}, {"name": "meeting_name", "type": "string"}, {"name": "participants", "type": "string"}, {"name": "date", "type": "string"}, {"name": "start_time", "type": "string"}, {"name": "job_id", "type": "string"}]}}, "id": "25f395f5-7b23-4555-bbc1-07e169ae4f37", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [-200, 0]}, {"parameters": {"jsCode": "// Reshape input to match original node expectations\n// Original nodes expect: .body (webhook metadata), .data (transcript text)\nconst input = $input.first().json;\nconst transcript = input.transcript || {};\nreturn [{json: {\n  body: {\n    meeting_name: input.meeting_name || '',\n    participants: input.participants || '',\n    date: input.date || '',\n    start_time: input.start_time || '',\n    end_time: input.end_time || '',\n    context: input.context || '',\n    chat_id: input.chat_id || '',\n    file_id: input.file_id || '',\n    bot_token: input.bot_token || '',\n    queue_id: input.queue_id || ''\n  },\n  data: transcript.data || transcript.text || '',\n  segments: transcript.segments || [],\n  language: transcript.language || 'fi',\n  // Keep raw transcript for Return Results\n  _transcript: transcript,\n  _meeting_name: input.meeting_name,\n  _participants: input.participants,\n  _date: input.date,\n  _start_time: input.start_time,\n  _end_time: input.end_time\n}}];"}, "id": "604328d3-fe9e-4d02-b34c-bd56a8f088c7", "name": "Set Metadata", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 0]}, {"parameters": {"jsCode": "function estimateCtx(promptChars, responseTokens) {\n  responseTokens = responseTokens || 2048;\n  const promptTokens = Math.ceil(promptChars / 3.5);\n  const raw = promptTokens + responseTokens;\n  const rounded = Math.ceil(raw / 1024) * 1024;\n  return Math.max(2048, Math.min(rounded, 49152));\n}\n// ── Free VRAM: unload idle models before LLM-heavy pipeline ──\n// MUST use /api/chat (not /api/generate) to override keep_alive:-1 set by telegram-agent\ntry {\n    await this.helpers.httpRequest({\n        method: 'POST', url: 'http://host.docker.internal:11434/api/chat',\n        body: {model: 'qwen2.5vl:7b', messages: [{role: 'user', content: 'x'}], keep_alive: 0, stream: false}, json: true\n    });\n} catch(e) { /* model may not be loaded — ignore */ }\ntry {\n    await this.helpers.httpRequest({\n        method: 'POST', url: 'http://host.docker.internal:11434/api/chat',\n        body: {model: 'nemotron-mini', messages: [{role: 'user', content: 'x'}], keep_alive: 0, stream: false}, json: true\n    });\n} catch(e) { /* model may not be loaded — ignore */ }\ntry {\n    await this.helpers.httpRequest({\n        method: 'POST', url: 'http://host.docker.internal:11434/api/embed',\n        body: {model: 'nomic-embed-text-v2-moe', input: 'x', keep_alive: 0}, json: true\n    });\n} catch(e) { /* embedding model — ignore */ }\n\nconst webhookBody = $('Set Metadata').first().json.body;\nconst participants = webhookBody.participants;\nconst participantStr = Array.isArray(participants) && participants.length\n    ? participants.join(', ') : 'unknown';\nconst rawTranscript = $('Set Metadata').first().json.data || '';\n\n// Full transcript for speaker ID — even 83-min meetings (72k chars) fit in 32k tokens\n// Prompt eval dominates (~220s), generation is tiny (~50 tokens)\nconst MAX_CHARS = 75000;\nconst transcript = rawTranscript.length > MAX_CHARS\n    ? rawTranscript.substring(0, MAX_CHARS) + '\\n\\n[... truncated ...]'\n    : rawTranscript;\n\n// Count distinct SPEAKER_XX labels vs participant count\nconst speakerLabels = [...new Set(\n    (rawTranscript.match(/\\[SPEAKER_\\d+\\]/g) || []).map(m => m.slice(1, -1))\n)].sort();\nconst participantList = participantStr.split(',').map(p => p.trim()).filter(Boolean).sort();\nconst speakerCount = speakerLabels.length;\nconst participantCount = participantList.length;\n\n// Build allowed values list for strict output constraint\nconst allowedValuesList = participantList.map(p => `- \"${p}\"`).join('\\n');\n\nlet mismatchWarning = '';\nif (speakerCount > 0 && speakerCount !== participantCount) {\n    if (speakerCount > participantCount) {\n        mismatchWarning = `\\n\\nNOTE: Diarization detected ${speakerCount} speaker labels but there are only ${participantCount} participants. This is OVER-SEGMENTATION — multiple labels belong to the same person. Map multiple SPEAKER_XX labels to the same participant when evidence supports it.`;\n    } else {\n        mismatchWarning = `\\n\\nWARNING: Diarization detected only ${speakerCount} speaker(s) but there are ${participantCount} participants. Some speakers are likely MERGED into one cluster.\\n- Only map a SPEAKER label if there is STRONG evidence (self-introduction, direct address by name).\\n- If a label likely contains multiple people's speech, keep the original SPEAKER_XX label.`;\n    }\n}\n\nconst systemPrompt = `You map SPEAKER labels to participant names in a meeting transcript.\n\nKNOWN PARTICIPANTS: ${participantStr}\n\nALLOWED OUTPUT VALUES (use EXACTLY these strings or keep the SPEAKER_XX label):\n${allowedValuesList}\n- Keep original label (e.g. \"SPEAKER_00\") if you cannot identify the speaker.\n\nRULES:\n1. Speakers already labeled with a real name (e.g. [Petri], [Mikko]) are biometrically verified. Do NOT change them. Map them to themselves.\n2. Only identify unresolved labels: [SPEAKER_00], [SPEAKER_01], [Unknown], etc.\n3. Output value MUST be one of the allowed values above. No other values permitted.\n4. Use evidence: self-introductions, direct address by name, topic expertise, response patterns.\n5. Do NOT assume any participant is SPEAKER_00 based on their position in the list. The list is alphabetically sorted and has NO correlation with speaker order.\n6. If unsure, keep the SPEAKER_XX label — never guess.\n7. Output ONLY valid JSON. No explanation, no markdown.${mismatchWarning}`;\n\n// Build JSON template with exact speaker labels from transcript\nconst templateObj = {};\nfor (const label of speakerLabels) {\n    templateObj[label] = '?';\n}\nconst templateStr = JSON.stringify({speaker_map: templateObj}, null, 2);\n\nconst userMsg = `Transcript:\\n${transcript}\\n\\nReplace each \"?\" with EXACTLY one of: ${participantList.map(p => `\"${p}\"`).join(', ')}, or the original SPEAKER_XX label.\\n\\n${templateStr}`;\n\nreturn [{ json: {\n    body: JSON.stringify({\n        model: 'qwen3.5:27b-32k',\n        stream: false,\n        think: false,\n        num_ctx: estimateCtx((systemPrompt || \"\").length + (userMsg || \"\").length),\n        system: systemPrompt,\n        prompt: userMsg\n    }),\n    participantStr: participantStr,\n    rawTranscript: rawTranscript\n} }];\n"}, "id": "v2-build-speaker-id", "name": "Build Speaker ID Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [250, 0]}, {"parameters": {"method": "POST", "url": "http://host.docker.internal:11434/api/generate", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body }}", "options": {"timeout": 600000}}, "id": "v2-identify-speakers", "name": "Identify Speakers", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 0], "retryOnFail": false}, {"parameters": {"jsCode": "function estimateCtx(promptChars, responseTokens) {\n  responseTokens = responseTokens || 2048;\n  const promptTokens = Math.ceil(promptChars / 3.5);\n  const raw = promptTokens + responseTokens;\n  const rounded = Math.ceil(raw / 1024) * 1024;\n  return Math.max(2048, Math.min(rounded, 49152));\n}\nconst rawTranscript = $('Set Metadata').first().json.data || '';\n\n// ── safeParseJSON: strips think tokens, fences, preamble text ──\nfunction safeParseJSON(raw) {\n    let s = (raw || '').trim();\n    // Strip <think>...</think> blocks (qwen reasoning tokens)\n    s = s.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n    // Strip markdown code fences\n    s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?\\s*```\\s*$/i, '');\n    s = s.trim();\n    // Find first { to last }\n    const first = s.indexOf('{');\n    const last = s.lastIndexOf('}');\n    if (first === -1 || last === -1 || last <= first) {\n        return { ok: false, data: null, error: 'No JSON object found', raw: raw };\n    }\n    s = s.substring(first, last + 1);\n    try {\n        return { ok: true, data: JSON.parse(s), error: null };\n    } catch(e) {\n        return { ok: false, data: null, error: e.message, raw: raw };\n    }\n}\n\n// Parse speaker map from previous pass\nlet speakerMap = {};\nconst speakerResp = $input.first().json.response || '';\nconst parsed = safeParseJSON(speakerResp);\nif (parsed.ok) {\n    speakerMap = parsed.data.speaker_map || {};\n} else if (speakerResp.trim()) {\n    console.log('Speaker map parse failed: ' + (parsed.error || 'unknown'));\n    console.log('Raw response: ' + speakerResp.substring(0, 500));\n}\n\n// Apply speaker names to transcript for better topic identification\nlet resolvedTranscript = rawTranscript;\nfor (const [label, name] of Object.entries(speakerMap)) {\n    resolvedTranscript = resolvedTranscript.replaceAll('[' + label + ']', '[' + name + ']');\n}\n\n// Full transcript — same budget as speaker ID pass\nconst MAX_CHARS = 75000;\nconst transcript = resolvedTranscript.length > MAX_CHARS\n    ? resolvedTranscript.substring(0, MAX_CHARS) + '\\n\\n[... truncated ...]'\n    : resolvedTranscript;\n\nconst systemPrompt = `You identify discussion topics in a meeting transcript.\n\nFor each topic, provide:\n- A descriptive name in ENGLISH (3-8 words) that captures the SUBJECT MATTER discussed. Example: \"Simulator Architecture Review\", \"Resource Allocation by Factory\", \"SKU Data Import Strategy\". NEVER use generic names like \"Topic 1\", \"Segment 2\", or \"General Discussion\". NEVER use Finnish or other non-English names.\n- Start and end timestamps in seconds\n- A one-sentence English summary\n\nCRITICAL RULES:\n- Output ONLY valid JSON. No markdown, no explanation.\n- Topic names MUST be in English.\n- CONSOLIDATE related discussions into one topic.\n- Chronological order, no gaps.\n- Merge topics shorter than 60 seconds into adjacent ones.\n- 3-6 well-consolidated topics.\n- The LAST topic's \"end\" value MUST be the number 999999, NOT the actual last timestamp. This is a sentinel value used by downstream code.`;\n\nconst userMsg = `Transcript:\\n${transcript}\\n\\nREMINDER: Topic names and summaries MUST be in ENGLISH, not Finnish. Translate any Finnish concepts to English.\\n\\nNow output the JSON. The last topic MUST end with 999999 (do NOT use the real timestamp like 3400 or 3482 — use exactly 999999):\\n{\"topics\": [{\"name\": \"English Topic Name Here\", \"start\": 0.0, \"end\": ..., \"summary\": \"English summary here\"}, ..., {\"name\": \"English Topic Name\", \"start\": ..., \"end\": 999999, \"summary\": \"English summary\"}]}`;\n\nreturn [{ json: {\n    body: JSON.stringify({\n        model: 'qwen3.5:27b-32k',\n        stream: false,\n        think: false,\n        num_ctx: estimateCtx((systemPrompt || \"\").length + (userMsg || \"\").length),\n        system: systemPrompt,\n        prompt: userMsg\n    }),\n    speakerMapRaw: speakerResp,\n    speakerMap: speakerMap\n} }];\n"}, "id": "v2-build-topic-seg", "name": "Build Topic Segmentation Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [710, 0]}, {"parameters": {"method": "POST", "url": "http://host.docker.internal:11434/api/generate", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body }}", "options": {"timeout": 600000}}, "id": "v2-identify-topics", "name": "Identify Topics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [940, 0], "retryOnFail": false}, {"id": "v2-slice-topics", "name": "Slice Topics", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1170, 0], "parameters": {"jsCode": "\nconst webhookBody = $('Set Metadata').first().json.body;\nconst date = webhookBody.date || new Date().toISOString().split('T')[0];\nconst participants = webhookBody.participants;\nconst participantStr = Array.isArray(participants) && participants.length\n    ? participants.join(', ') : 'unknown';\nconst meetingName = webhookBody.meeting_name || '';\nconst startTime = webhookBody.start_time || '';\nconst endTime = webhookBody.end_time || '';\nconst context = webhookBody.context || '';\nconst transcriptFull = $('Set Metadata').first().json.data;\n\n// ── safeParseJSON ──\nfunction safeParseJSON(raw) {\n    let s = (raw || '').trim();\n    s = s.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n    s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?\\s*```\\s*$/i, '');\n    s = s.trim();\n    const first = s.indexOf('{');\n    const last = s.lastIndexOf('}');\n    if (first === -1 || last === -1 || last <= first) {\n        return { ok: false, data: null, error: 'No JSON object found', raw: raw };\n    }\n    s = s.substring(first, last + 1);\n    try {\n        return { ok: true, data: JSON.parse(s), error: null };\n    } catch(e) {\n        return { ok: false, data: null, error: e.message, raw: raw };\n    }\n}\n\n// ── Deterministic topic segmentation fallback ──\n// Segments by speaker turn patterns and time distribution\nfunction deterministicTopics(transcript) {\n    const lines = transcript.split('\\n');\n    const tsRegex = /\\[(\\d[\\d:.]+)\\s*(?:-->|->|\\u2013|\\u2014|-)\\s*(\\d[\\d:.]+)\\]/;\n    const spkRegex = /\\[([A-Z_]+\\d*|[^\\]]+)\\]/;\n\n    function timeToSec(t) {\n        const p = t.trim().split(':');\n        if (p.length === 3) return parseFloat(p[0])*3600 + parseFloat(p[1])*60 + parseFloat(p[2]);\n        if (p.length === 2) return parseFloat(p[0])*60 + parseFloat(p[1]);\n        return parseFloat(t) || 0;\n    }\n\n    // Parse all timestamped lines\n    const entries = [];\n    for (const line of lines) {\n        const tsMatch = line.match(tsRegex);\n        if (tsMatch) {\n            const start = timeToSec(tsMatch[1]);\n            const end = timeToSec(tsMatch[2]);\n            const spkMatch = line.match(/\\[(SPEAKER_\\d+|[A-Z][a-zÀ-ÿ]+ [A-Z][a-zÀ-ÿ]+)\\]/);\n            const speaker = spkMatch ? spkMatch[1] : '';\n            const text = line.replace(tsRegex, '').replace(/\\[[^\\]]*\\]/g, '').trim();\n            // Skip artifact lines (repeated single words like \"Kiitos\")\n            if (text.length < 15 && /^(Kiitos[.!]*\\s*)+$/i.test(text)) continue;\n            entries.push({ start, end, speaker, text, line });\n        }\n    }\n\n    if (entries.length === 0) return null;\n\n    const totalStart = entries[0].start;\n    const totalEnd = entries[entries.length - 1].end;\n    const duration = totalEnd - totalStart;\n\n    // Target 4-6 topics for a typical 30-60 min meeting\n    const targetTopics = Math.max(3, Math.min(7, Math.round(duration / 300)));\n    const targetLen = duration / targetTopics;\n\n    // Find natural boundaries: score each entry as a potential boundary\n    // Good boundaries: speaker changes after a gap, or after a long monologue\n    const boundaries = [totalStart];\n    let lastBoundary = totalStart;\n\n    for (let i = 1; i < entries.length; i++) {\n        const timeSinceBoundary = entries[i].start - lastBoundary;\n        if (timeSinceBoundary < targetLen * 0.6) continue; // Too soon\n\n        const gap = entries[i].start - entries[i-1].end;\n        const speakerChange = entries[i].speaker !== entries[i-1].speaker;\n\n        // Score this as a boundary point\n        let score = 0;\n        if (gap > 2) score += 2;\n        if (gap > 5) score += 2;\n        if (speakerChange) score += 3;\n        if (timeSinceBoundary > targetLen * 0.8) score += 3;\n        if (timeSinceBoundary > targetLen * 1.2) score += 5; // Overdue\n\n        if (score >= 5) {\n            boundaries.push(entries[i].start);\n            lastBoundary = entries[i].start;\n        }\n    }\n    boundaries.push(999999);\n\n    // Build topics from boundaries\n    const topics = [];\n    for (let i = 0; i < boundaries.length - 1; i++) {\n        const tStart = boundaries[i];\n        const tEnd = boundaries[i + 1];\n        // Get representative text for naming\n        const topicEntries = entries.filter(e => e.start >= tStart && e.start < tEnd);\n        const sampleText = topicEntries.slice(0, 5).map(e => e.text).join(' ');\n        // Simple name from first substantial line\n        const firstLine = topicEntries.find(e => e.text.length > 20);\n        const name = firstLine\n            ? firstLine.text.substring(0, 50).replace(/[.!?,;:]+$/, '') + '...'\n            : `Topic ${i + 1}`;\n\n        topics.push({\n            name: name,\n            start: tStart,\n            end: tEnd === 999999 ? 999999 : tEnd,\n            summary: name\n        });\n    }\n\n    return topics.length >= 2 ? topics : null;\n}\n\n// Speaker map from pass 1\nconst speakerMapData = $('Build Topic Segmentation Prompt').first().json.speakerMap || {};\nconst rawSpeakerMap = speakerMapData;\n\n// Parse topics from pass 2 LLM response\nlet topics = [];\nlet topicsFallback = false;\nconst rawTopicResp = $input.first().json.response || '';\nconst parsed = safeParseJSON(rawTopicResp);\nif (parsed.ok && parsed.data.topics && parsed.data.topics.length >= 2) {\n    topics = parsed.data.topics;\n} else {\n    // LLM failed or returned single topic — try deterministic segmentation\n    console.log('LLM topic segmentation failed or returned <2 topics, using deterministic fallback');\n    if (parsed.error) console.log('Parse error: ' + parsed.error);\n    const detTopics = deterministicTopics(transcriptFull);\n    if (detTopics) {\n        topics = detTopics;\n        topicsFallback = true;\n    } else {\n        topics = [{name: 'Full Meeting', start: 0, end: 999999, summary: 'Complete meeting discussion'}];\n        topicsFallback = true;\n    }\n}\n\n// Fix sentinel value leaking as topic name\nfor (let i = 0; i < topics.length; i++) {\n    if (/^\\d+$/.test(topics[i].name) || topics[i].name === '999999') {\n        const fallbackName = (topics[i].summary && topics[i].summary.length > 5 && !/^\\d+$/.test(topics[i].summary))\n            ? topics[i].summary.substring(0, 60)\n            : 'Closing Discussion';\n        console.log('Fixed sentinel topic name \"' + topics[i].name + '\" → \"' + fallbackName + '\"');\n        topics[i].name = fallbackName;\n    }\n}\n\n// ── Fix Finnish topic names: detect non-ASCII and translate common patterns ──\n// Finnish chars: ä ö å Ä Ö Å and common Finnish suffixes\nconst FINNISH_RE = /[äöåÄÖÅ]|\\b(?:ja|tai|sekä|kanssa|kohti|katsaus|hallinta|suunnitelma|päätös|loppu|keskustelu|poistaminen|lisääminen|muokkaaminen|päivitys|käyttöönotto)\\b/;\nfor (let i = 0; i < topics.length; i++) {\n    if (FINNISH_RE.test(topics[i].name)) {\n        // Topic name is in Finnish — use the LLM summary if it's in English, else generic\n        if (topics[i].summary && !FINNISH_RE.test(topics[i].summary) && topics[i].summary.length > 5) {\n            // Summary is English — use it as the name (truncated)\n            let englishName = topics[i].summary;\n            if (englishName.length > 60) englishName = englishName.substring(0, 57) + '...';\n            // Capitalize first letter of each major word\n            englishName = englishName.replace(/\\b[a-z]/g, c => c.toUpperCase());\n            topics[i].name = englishName;\n        } else {\n            // Both name and summary are Finnish — mark for downstream\n            topics[i].name = 'Topic ' + (i + 1) + ' (translation needed)';\n        }\n        console.log('Fixed Finnish topic name at index ' + i + ': ' + topics[i].name);\n    }\n}\n\n// Validate speaker map against known participants — post-LLM safety net\n// Normalizes partial matches (e.g. \"Jaakko\" → \"Hahtola Jaakko\") and rejects unknowns\nconst knownLower = participantStr.toLowerCase().split(',').map(p => p.trim()).filter(Boolean);\nconst participantListOrig = participantStr.split(',').map(p => p.trim()).filter(Boolean);\n\n// Build lookup: each name part → index into participant list\nconst partToIdx = {};\nfor (let idx = 0; idx < knownLower.length; idx++) {\n    partToIdx[knownLower[idx]] = idx; // exact full name\n    for (const part of knownLower[idx].split(' ')) {\n        if (part.length > 2) partToIdx[part] = idx;\n    }\n}\n\nconst speakerMap = {};\nfor (const [label, name] of Object.entries(rawSpeakerMap)) {\n    // Biometrically verified labels pass through\n    if (!label.startsWith('SPEAKER_') && label !== 'Unknown') {\n        speakerMap[label] = name;\n        continue;\n    }\n    const nameLower = name.toLowerCase().trim();\n    // Exact match to a known participant?\n    if (partToIdx[nameLower] !== undefined) {\n        speakerMap[label] = participantListOrig[partToIdx[nameLower]];\n        continue;\n    }\n    // Partial match: check each word\n    let matched = false;\n    for (const word of nameLower.split(' ')) {\n        const clean = word.replace(/[.,;:!?]/g, '');\n        if (clean.length > 2 && partToIdx[clean] !== undefined) {\n            speakerMap[label] = participantListOrig[partToIdx[clean]];\n            matched = true;\n            break;\n        }\n    }\n    // No match — revert to original label\n    if (!matched) speakerMap[label] = label;\n}\n\nconst mapEntries = Object.entries(speakerMap).map(([k, v]) => `${k} = ${v}`).join(', ');\n\n// Detect duplicate mappings (multiple SPEAKER_XX → same person = over-segmentation)\nconst nameToLabels = {};\nfor (const [label, name] of Object.entries(speakerMap)) {\n    if (!label.startsWith('SPEAKER_')) continue;\n    if (!nameToLabels[name]) nameToLabels[name] = [];\n    nameToLabels[name].push(label);\n}\nconst dupes = Object.entries(nameToLabels)\n    .filter(([name, labels]) => labels.length > 1 && !name.startsWith('SPEAKER_'))\n    .map(([name, labels]) => `${name} \\u2190 ${labels.join('+')}`)\n    .join('; ');\nconst dedupNote = dupes ? ` | Merged clusters: ${dupes}` : '';\n\nconst speakerComment = `<!-- Speaker map: ${mapEntries}${dedupNote} -->`;\n\n// Apply speaker names to transcript\nlet resolvedTranscript = transcriptFull;\nfor (const [label, name] of Object.entries(speakerMap)) {\n    resolvedTranscript = resolvedTranscript.replaceAll(`[${label}]`, `[${name}]`);\n}\n\n// Slice transcript by timestamps\nconst lines = resolvedTranscript.split('\\n');\n\nfunction timeToSeconds(timeStr) {\n    const parts = timeStr.trim().split(':');\n    if (parts.length === 3) return parseFloat(parts[0])*3600 + parseFloat(parts[1])*60 + parseFloat(parts[2]);\n    if (parts.length === 2) return parseFloat(parts[0])*60 + parseFloat(parts[1]);\n    return parseFloat(timeStr) || 0;\n}\n\nconst lineTimestamps = [];\nlet lastTimestamp = 0;\nconst tsRegex = /\\[(\\d[\\d:.]+)\\s*(?:-->|->|\\u2013|\\u2014|-)\\s*(\\d[\\d:.]+)\\]/;\nfor (const line of lines) {\n    const match = line.match(tsRegex);\n    if (match) lastTimestamp = timeToSeconds(match[1]);\n    lineTimestamps.push({line, timestamp: lastTimestamp});\n}\n\nconst topicItems = [];\nfor (let i = 0; i < topics.length; i++) {\n    const topic = topics[i];\n    const tStart = topic.start || 0;\n    const tEnd = topic.end || 999999;\n    const topicLines = lineTimestamps\n        .filter(lt => lt.timestamp >= tStart && lt.timestamp <= tEnd)\n        .map(lt => lt.line);\n    const topicTranscript = topicLines.join('\\n');\n\n    topicItems.push({\n        json: {\n            topicIndex: i,\n            topicName: topic.name,\n            topicSummary: topic.summary || '',\n            topicTranscript: topicTranscript,\n            totalTopics: topics.length,\n            speakerComment: speakerComment,\n            speakerMap: speakerMap,\n            date: date,\n            meetingName: meetingName,\n            startTime: startTime,\n            endTime: endTime,\n            participantStr: participantStr,\n            context: context,\n            topicsFallback: topicsFallback,\n        }\n    });\n}\n\n// Catch orphaned lines past last topic\nif (topicItems.length > 0) {\n    const coveredMax = Math.max(...topics.map(t => t.end || 0));\n    const orphanLines = lineTimestamps\n        .filter(lt => lt.timestamp > coveredMax)\n        .map(lt => lt.line)\n        .filter(l => l.trim());\n    if (orphanLines.length > 0) {\n        const lastItem = topicItems[topicItems.length - 1];\n        lastItem.json.topicTranscript += '\\n' + orphanLines.join('\\n');\n    }\n}\n\nif (topicItems.length === 0) {\n    topicItems.push({\n        json: {\n            topicIndex: 0,\n            topicName: 'Full Meeting',\n            topicSummary: 'Complete meeting discussion',\n            topicTranscript: resolvedTranscript,\n            totalTopics: 1,\n            speakerComment: speakerComment,\n            speakerMap: speakerMap,\n            date: date,\n            meetingName: meetingName,\n            startTime: startTime,\n            endTime: endTime,\n            participantStr: participantStr,\n            context: context,\n            topicsFallback: true,\n        }\n    });\n}\n\nreturn topicItems;\n"}}, {"id": "v2-build-topic-prompt", "name": "Build Topic Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1400, 0], "parameters": {"jsCode": "function estimateCtx(promptChars, responseTokens) {\n  responseTokens = responseTokens || 2048;\n  const promptTokens = Math.ceil(promptChars / 3.5);\n  const raw = promptTokens + responseTokens;\n  const rounded = Math.ceil(raw / 1024) * 1024;\n  return Math.max(2048, Math.min(rounded, 49152));\n}\nconst item = $input.item.json;\nconst topicName = item.topicName;\n\nconst systemPrompt = `You analyze a SINGLE TOPIC from a meeting transcript.\nOutput must be in this exact markdown format:\n\n### ${topicName}\n<one sentence summarizing the outcome — REPLACE this instruction with your actual summary, never echo instructions>\n\n**Key Points:**\nWrite 3-5 bullets describing WHAT happened, WHAT was decided, or WHAT the status is. Write impersonally — like a board meeting summary.\nGOOD: \"The R7 design model is complete but investment numbers remain pending due to vendor queries.\"\nGOOD: \"Production targets were met despite mold delays; one batch required rework due to incorrect filling.\"\nBAD: \"Hahtola Jaakko noted that the R7 design model is complete.\"\nBAD: \"Syvänen Sirpa confirmed that production targets were met.\"\nName a speaker ONLY if they own an action or made a binding decision (max 1-2 names per topic).\nDo NOT include timestamps, speaker labels, or action items in key points.\n\n**Outcome:** Write exactly one of: \"Decision made\", \"Action items created\", \"Information shared\", or \"No outcome\". Nothing else.\n\nIF a concrete decision was made in this topic, include:\n#### DECISION\n**What:** describe the decision concisely\nIf NO decision was made, OMIT the #### DECISION section entirely. Do NOT write \"No decision\" or leave it empty.\n\nIF concrete action items or follow-ups were agreed, include:\n#### ACTION ITEMS\n- [ ] ***Action Point:*** <emoji> **What:** <task> **Who:** [[Lastname Firstname]] **When:** YYYY-MM-DD\nEvery action item line MUST start with exactly: - [ ] ***Action Point:*** <emoji>\nIf NO action items exist, OMIT the #### ACTION ITEMS section entirely. Do NOT write \"No action items\" or leave it empty.\n\nRULES:\n- Use complexity emoji inline on action items: 🟩 (<1h) 🟨 (1-4h) 🟧 (1-3d) 🟥 (>3d). Do NOT output a legend block.\n- Names MUST be [[Lastname Firstname]] order (family name first). If BOTH first AND last name are known, always write [[Lastname Firstname]]. First-name-only stays plain text, no wikilink.\n- NAME SPELLING: Use exact name spellings from the participant list but ALWAYS reorder to Lastname Firstname. For example, if participant list says \"Johanna Aivio\", write [[Aivio Johanna]].\n- Do NOT invent facts. Only use what is explicitly in the transcript.\n- SPEAKERS: ONLY the people in the Participants list are present and speaking in this meeting. Any other names mentioned in the conversation are people being DISCUSSED, not speakers. NEVER attribute statements or opinions to anyone not in the Participants list. Write \"The participants discussed [Name]\" instead of \"[Name] said/mentioned/expressed\".\n- Only create action items for REAL commitments or follow-ups agreed in the meeting. Do NOT create action items for things already done (like \"confirm arrival\") or trivial logistics.\n- **When:** If a specific deadline is mentioned in the transcript, use it (YYYY-MM-DD). If NO deadline is mentioned, derive from complexity + meeting date:\n  🟩 Easy → meeting date + 3 days\n  🟨 Involved → meeting date + 7 days\n  🟧 Moderate → meeting date + 14 days\n  🟥 Hard → meeting date + 30 days\n  Calculate the actual date. Never use TBD unless the action is explicitly deferred. Never use dates before the meeting date.\n- Meeting date: ${item.date}\n- Language: Business American English.`;\n\n// Cap topic transcript to fit qwen3:8b context (32k tokens ~ 80k chars)\nconst MAX_TOPIC_CHARS = 28000;\nconst safeTranscript = item.topicTranscript.length > MAX_TOPIC_CHARS\n    ? item.topicTranscript.substring(0, MAX_TOPIC_CHARS) + '\\n\\n[... topic section truncated — analyze what is visible above ...]'\n    : item.topicTranscript;\n\nconst safeTopic = item.topicName.replace(/`/g, \"'\");\n\nconst userMsg = `### ${safeTopic}\\nContext: ${item.topicSummary || 'see transcript'}\\nParticipants: ${item.participantStr}\\n${item.context ? 'Background: ' + item.context + '\\n' : ''}\\nTranscript:\\n${safeTranscript}`;\n\nreturn { json: {\n    topicIndex: item.topicIndex,\n    topicName: item.topicName,\n    totalTopics: item.totalTopics,\n    body: JSON.stringify({\n        model: 'qwen3.5:27b-32k',\n        stream: false,\n        think: false,\n        num_ctx: estimateCtx((systemPrompt || \"\").length + (userMsg || \"\").length),\n        system: systemPrompt,\n        prompt: userMsg\n    })\n} };\n", "mode": "runOnceForEachItem"}}, {"id": "v2-analyze-topic", "name": "Analyze Topic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1630, 0], "parameters": {"mode": "runOnceForEachItem", "jsCode": "const item = $input.item.json;\nconst bodyObj = JSON.parse(item.body);\n\n// Call Ollama via n8n built-in HTTP helper\nconst result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:11434/api/generate',\n    body: bodyObj,\n    headers: {'Content-Type': 'application/json'},\n    timeout: 600000,\n    returnFullResponse: false,\n    json: true,\n});\n\nreturn {\n    json: {\n        response: result.response || '',\n        topicIndex: item.topicIndex,\n        topicName: item.topicName,\n        totalTopics: item.totalTopics,\n    }\n};"}}, {"id": "v2-assemble-minutes", "name": "Assemble Minutes", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1860, 0], "parameters": {"jsCode": "const items = $input.all();\n\n// Get metadata from first item's input\nconst firstInput = $('Slice Topics').first().json;\nconst date = firstInput.date;\nconst meetingName = firstInput.meetingName;\nconst startTime = firstInput.startTime;\nconst endTime = firstInput.endTime;\nconst participantStr = firstInput.participantStr;\nconst speakerComment = firstInput.speakerComment;\nconst speakerMap = firstInput.speakerMap || {};\nconst context = firstInput.context || '';\n\n// ── Name normalization ──\n// participantStr contains CANONICAL names (already Lastname Firstname from webhook)\n// e.g. \"Rantala Petri, Kasi Jukka\"\nconst participantNames = participantStr.split(',').map(p => p.trim()).filter(Boolean);\n\n// Build reversed→canonical mapping: \"Petri Rantala\" → \"Rantala Petri\"\nconst nameNormMap = {};\nfor (const canonical of participantNames) {\n    const parts = canonical.split(/\\s+/);\n    if (parts.length >= 2) {\n        // canonical is \"Rantala Petri\" (Lastname Firstname)\n        // reversed is \"Petri Rantala\" (Firstname Lastname — what LLM writes)\n        const reversed = parts.slice(1).join(' ') + ' ' + parts[0];\n        nameNormMap[reversed] = canonical;\n        // identity mapping so canonical stays canonical\n        nameNormMap[canonical] = canonical;\n    }\n}\n\n// Fuzzy name matching: map \"Firstname GarbledLastname\" patterns\n// E.g., \"Jaakko Haakko\" where \"Haakko\" is a garbled \"Hahtola\"\n// Strategy: for each participant, map \"Firstname <AnyWord>\" → canonical\n// Only applied in the regex replacement pass below, not for wikilinks\nconst firstNamePatterns = {};\nfor (const canonical of participantNames) {\n    const parts = canonical.split(/\\s+/);\n    if (parts.length >= 2) {\n        const firstName = parts[parts.length - 1]; // \"Petri\" from \"Rantala Petri\"\n        // Only add if firstName is unique among participants\n        const isUnique = participantNames.filter(p => p.endsWith(' ' + firstName)).length === 1;\n        if (isUnique && firstName.length > 2) {\n            firstNamePatterns[firstName] = canonical;\n        }\n    }\n}\n\n// Build attendees directly from canonical participant names\nconst attendees = new Set();\nfor (const canonical of participantNames) {\n    attendees.add(`[[${canonical}]]`);\n}\n// Also add biometric-matched names from speaker map if not covered\nfor (const name of Object.values(speakerMap)) {\n    if (name && name !== 'Unknown' && !name.startsWith('SPEAKER_')) {\n        const alreadyCovered = [...attendees].some(a => {\n            const inner = a.replace(/^\\[\\[|\\]\\]$/g, '');\n            const nameParts = name.split(/\\s+/);\n            return nameParts.every(p => inner.toLowerCase().includes(p.toLowerCase()));\n        });\n        if (!alreadyCovered) {\n            attendees.add(`[[${name}]]`);\n        }\n    }\n}\nconst attendeeLines = [...attendees].map(a => `- [x] ${a}`).join('\\n');\n\n// Detect unmapped speakers\nconst unmappedSpeakers = Object.entries(speakerMap)\n    .filter(([k, v]) => k === v && k.startsWith('SPEAKER_'))\n    .map(([k]) => k);\nlet speakerNote = '';\nif (unmappedSpeakers.length > 0) {\n    speakerNote = `\\n<!-- NOTE: ${unmappedSpeakers.length} speaker(s) could not be confidently identified: ${unmappedSpeakers.join(', ')}. Diarization may have merged multiple speakers into one cluster. -->`;\n}\n\n// Sort topic results by index\nconst sorted = items.map(i => ({\n    index: i.json.topicIndex || 0,\n    name: i.json.topicName || 'Topic',\n    content: i.json.response || '',\n})).sort((a, b) => a.index - b.index);\n\n// Post-process: replace generic topic names with descriptive ones\nfor (const topic of sorted) {\n    if (/^(Segment|Topic)\\s+\\d+$/i.test(topic.name)) {\n        const contentLines = (topic.content || '').split('\\n');\n        const headingLine = contentLines.find(l => /^###\\s+.+/.test(l));\n        if (headingLine) {\n            const extracted = headingLine.replace(/^###\\s+/, '').trim();\n            if (!/^(Segment|Topic)\\s+\\d+$/i.test(extracted) && extracted.length > 3) {\n                topic.name = extracted;\n            }\n        }\n        if (/^(Segment|Topic)\\s+\\d+$/i.test(topic.name)) {\n            const descLine = contentLines.find(l =>\n                l.trim() && !l.startsWith('#') && !l.startsWith('**Key') &&\n                !l.startsWith('**Outcome') && !l.startsWith('####') &&\n                !l.startsWith('- [') && l.trim().length > 10\n            );\n            if (descLine) {\n                let desc = descLine.trim().replace(/^\\*+|\\*+$/g, '');\n                if (desc.length > 60) desc = desc.substring(0, 57) + '...';\n                topic.name = desc;\n            }\n        }\n    }\n}\n\n// Build descriptive meeting summary\nconst summaryLines = sorted.map(t => {\n    const lines = (t.content || '').split('\\n');\n    const desc = lines.find(l => l.trim() && !l.startsWith('#') && !l.startsWith('<') && !l.startsWith('**Key') && !l.startsWith('**Outcome'));\n    return `- **${t.name}:** ${desc || t.name}`;\n}).join('\\n');\n\n// Build agenda with wikilinks to headings\nconst agenda = sorted.map(t => `- [[#${t.name}]]`).join('\\n');\n\n// Build notes body from all topic analyses\nlet notesBody = sorted.map(t => t.content).join('\\n\\n');\n\n// ── Normalize names: [[Firstname Lastname]] → [[Lastname Firstname]] ──\nfor (const [fromName, toName] of Object.entries(nameNormMap)) {\n    if (fromName !== toName) {\n        // Wikilinked mentions\n        notesBody = notesBody.replaceAll(`[[${fromName}]]`, `[[${toName}]]`);\n        // Plain text mentions (not inside wikilinks)\n        const escapedFrom = fromName.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&');\n        notesBody = notesBody.replace(new RegExp(`(?<!\\\\[\\\\[)\\\\b${escapedFrom}\\\\b(?!\\\\]\\\\])`, 'g'), toName);\n    }\n}\n\n// ── Fuzzy first-name matching for garbled names ──\n// Replace \"Firstname GarbledWord\" with canonical name in plain text (not wikilinks)\nfor (const [firstName, canonical] of Object.entries(firstNamePatterns)) {\n    const escapedFirst = firstName.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&');\n    // Match \"Firstname <Word>\" where <Word> starts with uppercase and is NOT already the correct lastname\n    const correctLastname = canonical.split(/\\s+/)[0]; // \"Rantala\" from \"Rantala Petri\"\n    const regex = new RegExp(`(?<!\\\\[\\\\[)\\\\b${escapedFirst}\\\\s+(?!${correctLastname.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&')})([A-ZÄÖÅ][a-zäöå]+)\\\\b(?!\\\\]\\\\])`, 'g');\n    notesBody = notesBody.replace(regex, canonical);\n}\n\n// ── Aggressive instruction echo removal ──\n// Remove multi-line prompt template blocks that LLM echoed verbatim\n// Pattern: \"IF a concrete decision...\" through \"...OMIT the #### ACTION ITEMS section...\"\nnotesBody = notesBody.replace(/IF a concrete decision was made[\\s\\S]*?OMIT the ####\\s*ACTION ITEMS section[^\\n]*\\n?/gi, '');\n\n// Catch partial echoes of the DECISION/ACTION template\nnotesBody = notesBody.replace(/IF NO decision was made[\\s\\S]*?Do NOT write \"No decision\"[^\\n]*\\n?/gi, '');\nnotesBody = notesBody.replace(/IF NO action items exist[\\s\\S]*?Do NOT write \"No action items\"[^\\n]*\\n?/gi, '');\nnotesBody = notesBody.replace(/IF concrete action items or follow-ups[\\s\\S]*?<emoji>[^\\n]*\\n?/gi, '');\n\n// Standalone single-line echoes (when LLM echoes just the instruction line without the full block)\nnotesBody = notesBody.replace(/^IF a concrete decision was made[^\\n]*include:\\s*$/gm, '');\nnotesBody = notesBody.replace(/^IF concrete action items or follow-ups were agreed[^\\n]*include:?\\s*$/gm, '');\nnotesBody = notesBody.replace(/^IF concrete action items were agreed[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^IF NO decision was made[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^IF NO action items[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^OMIT the ####[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^Do NOT write \"No decision[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^Do NOT write \"No action items[^\\n]*$/gm, '');\n\n// Remove echoed attribution instructions\nnotesBody = notesBody.replace(/^.*Attribute key points to the speaker who made them[^\\n]*\\n?/gm, '');\nnotesBody = notesBody.replace(/^.*Do NOT include raw transcript timestamps[^\\n]*\\n?/gm, '');\nnotesBody = notesBody.replace(/^.*instead weave attribution naturally[^\\n]*\\n?/gm, '');\nnotesBody = notesBody.replace(/^.*Do NOT list action items here[^\\n]*\\n?/gm, '');\n\n// Remove echoed RULES: blocks (everything from RULES: to next ### or **)\nnotesBody = notesBody.replace(/^RULES:\\n(?:- .*\\n?)*/gm, '');\n\n// Remove echoed format instructions\nnotesBody = notesBody.replace(/^.*Write ONE sentence summarizing[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*use EXACT format[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*REPLACE this instruction with[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*<one sentence summarizing the outcome[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Output must be in this exact markdown format[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*List 3-7 concrete bullets[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*List 3-5 bullets capturing[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Write at executive summary level[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Only mention a speaker by name when[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Every action item line MUST start with[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*SPEAKERS: ONLY the people in the Participants[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Do NOT invent facts[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*NAME SPELLING: Use exact name spellings[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Names MUST be \\[\\[Lastname Firstname\\]\\][^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Use complexity emoji inline[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Calculate the actual date\\. Never[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Meeting date: \\d{4}-\\d{2}-\\d{2}[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Language: Business American English[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*\\*\\*When:\\*\\* If a specific deadline[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^.*Only create action items for REAL commitments[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^\\s*🟩 Easy → meeting date \\+ 3 days[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^\\s*🟨 Involved → meeting date \\+ 7 days[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^\\s*🟧 Moderate → meeting date \\+ 14 days[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^\\s*🟥 Hard → meeting date \\+ 30 days[^\\n]*$/gm, '');\n\n// Remove \"Write exactly one of:\" outcome instruction echoes\nnotesBody = notesBody.replace(/^\\*\\*Outcome:\\*\\*\\s*Write exactly one of[^\\n]*$/gm, '');\n\n// Remove empty DECISION blocks\nnotesBody = notesBody.replace(/(?:#{1,4}|\\*{2})\\s*DECISION\\s*\\*{0,2}\\s*\\n(?:\\*\\*What:\\*\\*\\s*(?:No decision[^.\\n]*\\.?|describe the decision concisely|N\\/A|None|—|-)\\s*\\n?|\\*(?:Omitted|No decision)[^\\n]*\\*\\s*\\n?)/gi, '');\n\n// Remove empty ACTION ITEMS blocks\nnotesBody = notesBody.replace(/(?:#{1,4}|\\*{2})\\s*ACTION ITEMS\\s*\\*{0,2}\\s*\\n(?:(?:\\s*(?:No action items?[^.\\n]*\\.?|N\\/A|None|—|-)\\s*\\n?)+|\\*(?:Omitted|No action)[^\\n]*\\*\\s*\\n?)/gi, '');\n\n// Remove \"No DECISION/ACTION ITEMS section included\" echoes\nnotesBody = notesBody.replace(/^\\*\\*No DECISION section included[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^\\*\\*No ACTION ITEMS section included[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^No DECISION section included[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^No ACTION ITEMS section included[^\\n]*$/gm, '');\n\n// Remove \"When action items exist\" / \"When a decision was made\" echoes (from updated prompt)\nnotesBody = notesBody.replace(/^When action items exist[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^When a decision was made[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^OMIT the DECISION section[^\\n]*$/gm, '');\nnotesBody = notesBody.replace(/^OMIT the ACTION ITEMS section[^\\n]*$/gm, '');\n    // Strip empty DECISION blocks (### or #### heading + \"No decision\" body)\n    notesBody = notesBody.replace(/^#{3,4}\\s*DECISION\\s*\\n+(?:(?:\\*\\*)?No (?:concrete )?decision[^\\n]*\\n*)+/gmi, '');\n    // Strip empty ACTION ITEMS blocks (### or #### heading + \"No action items\" body)  \n    notesBody = notesBody.replace(/^#{3,4}\\s*ACTION ITEMS\\s*\\n+(?:(?:\\*\\*)?No (?:specific |explicit )?action items?[^\\n]*\\n*)+/gmi, '');\n\n\n// Remove \"**Note:**\" lines that follow empty decision/action blocks\nnotesBody = notesBody.replace(/\\*\\*Note:\\*\\*\\s*(?:No concrete decisions?|No action items?)[^\\n]*\\n?/gi, '');\n\n// Remove standalone \"No action items were...\" lines\nnotesBody = notesBody.replace(/^(?:No (?:concrete )?(?:action items?|decisions?)[^\\n]*)\\.?\\s*$/gim, '');\n\n// Remove duplicate topic sections (same ### heading appearing twice — second is usually the echoed version)\nconst seenHeadings = new Set();\nconst lines = notesBody.split('\\n');\nconst filteredLines = [];\nlet skipping = false;\nfor (let i = 0; i < lines.length; i++) {\n    const headingMatch = lines[i].match(/^###\\s+(.+)$/);\n    if (headingMatch) {\n        // Normalize: collapse repeated consecutive words (\"organizational organizational\" → \"organizational\")\n        const heading = headingMatch[1].trim().toLowerCase().replace(/\\b(\\w+)\\s+\\1\\b/gi, '$1');\n        if (seenHeadings.has(heading)) {\n            // Skip this duplicate section until next ## or ###\n            skipping = true;\n            continue;\n        }\n        seenHeadings.add(heading);\n        skipping = false;\n    } else if (skipping) {\n        // Check if we hit a new section that's NOT a duplicate\n        if (lines[i].match(/^##[^#]/)) {\n            skipping = false;\n        } else if (lines[i].match(/^###\\s+/) && !seenHeadings.has(lines[i].replace(/^###\\s+/, '').trim().toLowerCase().replace(/\\b(\\w+)\\s+\\1\\b/gi, '$1'))) {\n            skipping = false;\n        } else {\n            continue;\n        }\n    }\n    filteredLines.push(lines[i]);\n}\nnotesBody = filteredLines.join('\\n');\n\n// Fix doubled labels\nnotesBody = notesBody.replace(/\\*\\*WhenWhen:\\*\\*/g, '**When:**');\nnotesBody = notesBody.replace(/\\*\\*WhatWhat:\\*\\*/g, '**What:**');\nnotesBody = notesBody.replace(/\\*\\*WhoWho:\\*\\*/g, '**Who:**');\n\n// Fix LLM garbling: repeated consecutive words (e.g. \"from from\" → \"from\", \"made made\" → \"made\")\nnotesBody = notesBody.replace(/\\b(\\w{3,})\\s+\\1\\b/gi, '$1');\n// Fix garbled speaker references like 'shared shareds=\"Kasi Jukka\"'\nnotesBody = notesBody.replace(/\\w+eds?=\"[^\"]*\"\\s*/g, '');\n// Fix doubled names like \"Paul Paul Pompeen\" → \"Paul Pompeen\"\nnotesBody = notesBody.replace(/\\b(\\w+)\\s+\\1\\s+(\\w)/g, '$1 $2');\n// Fix doubled suffixes like \"discusseded\" → \"discussed\"\nnotesBody = notesBody.replace(/(\\w+)eded\\b/g, '$1ed');\n\n// Normalize action item format — ensure ***Action Point:*** prefix\nnotesBody = notesBody.replace(/^- \\[ \\]\\s+(?!\\*\\*\\*Action Point:\\*\\*\\*)(🟩|🟨|🟧|🟥)/gm,\n    '- [ ] ***Action Point:*** $1');\n\n// Fix action items missing leading \"- \" (bare [ ] lines)\nnotesBody = notesBody.replace(/^\\[ \\]\\s+\\*\\*\\*Action Point:\\*\\*\\*/gm,\n    '- [ ] ***Action Point:***');\n\n// Strip complexity emojis from key point lines (only belong on action items)\n// Matches both \"- \" and \"* \" / \"*   \" prefixed bullets, but NOT action item checkboxes\nnotesBody = notesBody.replace(/^((?:- (?!\\[ \\])|\\*\\s+))(🟩|🟨|🟧|🟥)\\s*/gm, '$1');\n\n// Remove **Key:** (truncated header — should be **Key Points:**)\nnotesBody = notesBody.replace(/^\\*\\*Key:\\*\\*$/gm, '**Key Points:**');\n\n// Collapse 3+ consecutive blank lines to 2\nnotesBody = notesBody.replace(/\\n{3,}/g, '\\n\\n');\n\n// Trim trailing whitespace on each line\nnotesBody = notesBody.split('\\n').map(l => l.trimEnd()).join('\\n');\n\n// Fix generic ### headings inside notesBody\nfor (const topic of sorted) {\n    const idx = topic.index + 1;\n    if (topic.name && !/^(Segment|Topic)\\s+\\d+$/i.test(topic.name)) {\n        notesBody = notesBody.replace(\n            new RegExp(`^###\\\\s+(Segment|Topic)\\\\s+${idx}\\\\s*$`, 'gm'),\n            `### ${topic.name}`\n        );\n    }\n}\n\n// Assemble full minutes\nconst minutes = `${speakerComment}${speakerNote}\n\n---\n- **Date:** [[${date}]]\n- **Start Time:** ${startTime || 'unknown'}\n- **End Time:** ${endTime || 'unknown'}\n- **Attendees:**\n${attendeeLines}\n\n#### Link(s) to project(s) or note(s) if any\n-\n\n## Meeting Summary\n${summaryLines}\n\n## Agenda\n${agenda}\n\n## Notes\n\n${notesBody}\n\n## Screenshots\n`;\n\nreturn [{ json: { minutes: minutes } }];\n"}}, {"id": "v2-build-note-body", "name": "Build Note Body", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2090, 0], "parameters": {"jsCode": "\nconst webhookBody = $('Set Metadata').first().json.body;\nconst date = webhookBody.date || new Date().toISOString().split('T')[0];\nconst meetingName = webhookBody.meeting_name || 'Meeting';\n\nconst minutes = $input.first().json.minutes;\n\nif (!minutes) {\n    throw new Error('No minutes assembled');\n}\n\nconst now = new Date();\nconst _hTime = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Helsinki'}));\nconst _pad = n => String(n).padStart(2, '0');\nconst createdAt = `${_hTime.getFullYear()}-${_pad(_hTime.getMonth()+1)}-${_pad(_hTime.getDate())} ${_pad(_hTime.getHours())}:${_pad(_hTime.getMinutes())}`;\n\nconst header = `<div style=\"font-size: 0.5em;\"> These notes were created using a temporary audio recording of a meeting held on ${date}. The audio was transcribed using a cloud-based service to support accurate note-taking. The recording was deleted immediately after transcription. The final document is stored locally and not shared externally. </div>\n\nMinutes created: ${createdAt} © Petri Rantala\nTags: #📓 ⚖ ✅ 🤝\nTemplate Version: 2.0-v2\nPipeline: divide-and-conquer (M59)\n\n---\n\n`;\n\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst path = `100 - Meeting minutes/${date} ${safeName}.md`;\nconst intelPath = `101 - Meeting Intelligence Reports/${date} ${safeName} - Intelligence Report.md`;\nconst crossLink = `\\n\\n---\\n\\n*Intelligence Report: [[${intelPath}]]*`;\nreturn [{ json: { body: JSON.stringify({ path, content: header + minutes + crossLink, overwrite: true }) } }];\n"}}, {"parameters": {"method": "POST", "url": "http://host.docker.internal:8090/api/create_note", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body }}", "options": {}}, "id": "815b26e8-5e74-4c52-b337-d7fba2697266", "name": "Create Vault Note", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2320, 0]}, {"parameters": {"jsCode": "// Return assembled minutes + metadata for downstream workflows\nconst meta = $('Set Metadata').first().json;\nconst assembledMinutes = $('Assemble Minutes').first().json;\nconst topics = $('Slice Topics').all();\nconst analyzedTopics = $('Analyze Topic').all();\nreturn [{json: {\n  // Pass the raw minutes text (not the wrapper object)\n  minutesText: assembledMinutes.minutes || '',\n  // Pass full Assemble Minutes output for Build Intel LLM Body\n  assembledMinutesJson: assembledMinutes,\n  topics: topics.map(t => t.json),\n  analyzedTopics: analyzedTopics.map(t => t.json),\n  meeting_name: meta._meeting_name || meta.body.meeting_name,\n  participants: meta._participants || meta.body.participants,\n  date: meta._date || meta.body.date,\n  start_time: meta._start_time || meta.body.start_time,\n  end_time: meta._end_time || meta.body.end_time,\n  transcript: meta._transcript\n}}];"}, "id": "164d24a6-7a24-47de-af6a-8f5592c0465e", "name": "Return Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2500, 0]}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "Set Metadata", "type": "main", "index": 0}]]}, "Set Metadata": {"main": [[{"node": "Build Speaker ID Prompt", "type": "main", "index": 0}]]}, "Build Speaker ID Prompt": {"main": [[{"node": "Identify Speakers", "type": "main", "index": 0}]]}, "Identify Speakers": {"main": [[{"node": "Build Topic Segmentation Prompt", "type": "main", "index": 0}]]}, "Build Topic Segmentation Prompt": {"main": [[{"node": "Identify Topics", "type": "main", "index": 0}]]}, "Identify Topics": {"main": [[{"node": "Slice Topics", "type": "main", "index": 0}]]}, "Slice Topics": {"main": [[{"node": "Build Topic Prompt", "type": "main", "index": 0}]]}, "Build Topic Prompt": {"main": [[{"node": "Analyze Topic", "type": "main", "index": 0}]]}, "Analyze Topic": {"main": [[{"node": "Assemble Minutes", "type": "main", "index": 0}]]}, "Assemble Minutes": {"main": [[{"node": "Build Note Body", "type": "main", "index": 0}]]}, "Build Note Body": {"main": [[{"node": "Create Vault Note", "type": "main", "index": 0}]]}, "Create Vault Note": {"main": [[{"node": "Return Results", "type": "main", "index": 0}]]}}, "pinData": {}}