workflows/pipeline-intel.json
{"id":"pipeline-intel","name":"Pipeline: Intel Report","description":"Sub-workflow: compute metrics, RAG context, per-topic intel analysis, generate intelligence report.","active":false,"isArchived":false,"settings":{"executionOrder":"v1","callerPolicy":"any"},"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"minutesText","type":"string"},{"name":"assembledMinutesJson","type":"object"},{"name":"topics","type":"object"},{"name":"analyzedTopics","type":"object"},{"name":"meeting_name","type":"string"},{"name":"participants","type":"string"},{"name":"date","type":"string"},{"name":"start_time","type":"string"},{"name":"bot_token","type":"string"}]}},"id":"92345d9f-9745-4c7e-9544-d05fa53ce65c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,0]},{"parameters":{"jsCode":"// Reshape input to match original node expectations\nconst input = $input.first().json;\nreturn [{json: {\n  body: {\n    meeting_name: input.meeting_name || '',\n    participants: input.participants || '',\n    date: input.date || '',\n    start_time: input.start_time || '',\n  },\n  analyzedTopics: input.analyzedTopics || [],\n  topics: input.topics || [],\n  // Build Intel LLM Body expects $input.first().json shape\n  // which is {minutes: \"text\"} \u2014 now accessed via $('Set Metadata').first().json.minutes\n  minutes: input.assembledMinutesJson || {minutes: input.minutesText || ''},\n  _transcript: input.transcript || {}\n}}];"},"id":"768a8705-64b9-4744-b8de-0d1aafe894c0","name":"Set Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"id":"node-get-transcript-json","name":"Get Transcript JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"parameters":{"jsCode":"// Transcript already available from WF1 via orchestrator\n// Original: HTTP GET to transcribe API for transcript JSON\n// Now: extract from Set Metadata (passed through from WF1)\nconst meta = $('Set Metadata').first().json;\nconst transcript = meta._transcript || {};\nreturn [{json: transcript}];"}},{"id":"node-compute-metrics","name":"Compute Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"parameters":{"jsCode":"\nconst data = $input.first().json;\nconst segments = data.segments || [];\n\nconst speakerStats = {};\nfor (const seg of segments) {\n  const spk = seg.speaker || 'Unknown';\n  if (!speakerStats[spk]) {\n    speakerStats[spk] = { totalTime: 0, turns: 0, words: 0, longestTurn: 0, longestTurnText: '', longestTurnTs: 0 };\n  }\n  const s = speakerStats[spk];\n  const dur = seg.end - seg.start;\n  s.totalTime += dur;\n  s.turns++;\n  s.words += (seg.text || '').split(/\\s+/).filter(w => w).length;\n  if (dur > s.longestTurn) {\n    s.longestTurn = dur;\n    s.longestTurnText = (seg.text || '').substring(0, 100);\n    s.longestTurnTs = seg.start;\n  }\n}\n\nconst totalDuration = segments.length ? segments[segments.length - 1].end : 1;\n\nconst interruptions = [];\nfor (let i = 1; i < segments.length; i++) {\n  const prev = segments[i-1], curr = segments[i];\n  const gap = curr.start - prev.end;\n  if (prev.speaker !== curr.speaker && gap < 0.5 && gap > -1) {\n    interruptions.push({ by: curr.speaker, interrupted: prev.speaker, at: curr.start, context: (prev.text || '').substring(0, 60) });\n  }\n}\n\nconst longPauses = [];\nfor (let i = 1; i < segments.length; i++) {\n  const gap = segments[i].start - segments[i-1].end;\n  if (gap > 5) {\n    longPauses.push({ at: segments[i-1].end, duration: Math.round(gap), before: (segments[i-1].text || '').substring(0, 80), after: (segments[i].text || '').substring(0, 80) });\n  }\n}\n\nconst windowSize = 300;\nconst windows = {};\nfor (const seg of segments) {\n  const w = Math.floor(seg.start / windowSize);\n  windows[w] = (windows[w] || 0) + 1;\n}\nconst energyCurve = Object.entries(windows).map(([w, c]) => ({ minuteMark: parseInt(w) * 5, turns: c }));\n\nconst fmt = s => `${Math.floor(s/60)}m${Math.round(s%60)}s`;\nconst ts  = s => new Date(s * 1000).toISOString().substr(11, 5);\n\nlet metricsText = `## QUANTITATIVE METRICS\\n\\n**Total duration:** ${fmt(totalDuration)}\\n**Speakers:** ${Object.keys(speakerStats).length}\\n\\n### Talk Ratios\\n`;\nfor (const [spk, s] of Object.entries(speakerStats)) {\n  const ratio = Math.round(s.totalTime / totalDuration * 100);\n  const wpm   = s.totalTime > 0 ? Math.round(s.words / (s.totalTime / 60)) : 0;\n  metricsText += `- **${spk}**: ${ratio}% airtime (${fmt(s.totalTime)}), ${s.turns} turns, ~${wpm} WPM, longest: ${fmt(s.longestTurn)} at ${ts(s.longestTurnTs)}\\n`;\n  if (s.longestTurnText) metricsText += `  > \"${s.longestTurnText}...\"\\n`;\n}\n\nmetricsText += `\\n### Interruptions (${interruptions.length} total)\\n`;\nif (interruptions.length === 0) {\n  metricsText += `None detected.\\n`;\n} else {\n  const byPair = {};\n  for (const ir of interruptions) { const k = `${ir.by} \\u2192 ${ir.interrupted}`; byPair[k] = (byPair[k]||0)+1; }\n  for (const [pair, count] of Object.entries(byPair)) metricsText += `- ${pair}: ${count}x\\n`;\n}\n\nmetricsText += `\\n### Long Pauses >5s (${longPauses.length} total)\\n`;\nfor (const p of longPauses.slice(0, 5)) {\n  metricsText += `- ${p.duration}s at ${ts(p.at)}: \"...${p.before}\" \\u2192 \"${p.after}...\"\\n`;\n}\nif (longPauses.length === 0) metricsText += `None detected.\\n`;\n\nmetricsText += `\\n### Energy Curve (turns per 5-min window)\\n`;\nmetricsText += energyCurve.map(w => `- min ${w.minuteMark}: ${w.turns} turns`).join('\\n') + '\\n';\n\nreturn [{ json: { metrics: metricsText, speakerStats, interruptions, longPauses, energyCurve, totalDuration } }];\n"}},{"id":"node-build-rag-query","name":"Build RAG Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[710,0],"parameters":{"jsCode":"\nconst wb = $('Set Metadata').first().json.body;\nconst participants = wb.participants || [];\nconst meetingName  = wb.meeting_name || '';\nconst query = `meeting intelligence ELITE-INTEL-OMEGA behavioral analysis ${participants.join(' ')} ${meetingName}`;\nreturn [{ json: { body: JSON.stringify({ query, n_results: 10, collection: 'vault' }) } }];\n"}},{"id":"node-fetch-historical-context","name":"Fetch Historical Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,0],"parameters":{"method":"POST","url":"http://host.docker.internal:8500/search","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"continueOnFail":true},{"parameters":{"jsCode":"function estimateCtx(promptChars, responseTokens) {\n  responseTokens = responseTokens || 2048;\n  const promptTokens = Math.ceil(promptChars / 3.5);\n  const raw = promptTokens + responseTokens;\n  const rounded = Math.ceil(raw / 1024) * 1024;\n  return Math.max(2048, Math.min(rounded, 49152));\n}\n// Fan out: one intel prompt per topic using the already-analyzed topic content\nconst topicResults = $('Set Metadata').first().json.analyzedTopics.map(t => ({json: t}));\nconst wb = $('Set Metadata').first().json.body;\nconst participants = wb.participants || [];\nconst participantStr = Array.isArray(participants) && participants.length ? participants.join(', ') : 'unknown';\nconst date = wb.date || new Date().toISOString().split('T')[0];\n\nconst systemPrompt = `You are a meeting intelligence analyst. For this SINGLE TOPIC, identify:\n1. Key behavioral signals (who said what, tone, hedging, confidence levels)\n2. Power dynamics and influence patterns\n3. Hidden concerns or unspoken risks\n4. Deception or withholding indicators (with confidence %)\n5. Motivations and drivers for each speaker\n\nBe evidence-based: cite specific quotes or paraphrases with speaker attribution.\nUse wikilinks for person names: [[Lastname Firstname]] (family name first, ALWAYS reorder \u2014 e.g. \"Johanna Aivio\" becomes [[Aivio Johanna]]). First-name-only = plain text, no wikilink.\nOutput concise markdown (max 500 words). No preamble.`;\n\nconst items = topicResults.map(item => {\n    const topicContent = item.json.response || '';\n    const topicName = item.json.topicName || 'Topic';\n    const topicIndex = item.json.topicIndex || 0;\n\n    // Get the original topic transcript from Slice Topics\n    const sliceItems = $('Set Metadata').first().json.topics.map(t => ({json: t}));\n    const sliceItem = sliceItems.find(s => s.json.topicIndex === topicIndex);\n    const topicTranscript = sliceItem ? sliceItem.json.topicTranscript || '' : '';\n\n    // Cap per-topic transcript for 8b model\n    const MAX_CHARS = 20000;\n    const safeTranscript = topicTranscript.length > MAX_CHARS\n        ? topicTranscript.substring(0, MAX_CHARS) + '\\n[...truncated...]'\n        : topicTranscript;\n\n    const userMsg = `Topic: ${topicName}\\nParticipants: ${participantStr}\\nDate: ${date}\\n\\n## Meeting Minutes (this topic)\\n${topicContent}\\n\\n## Raw Transcript (this topic)\\n${safeTranscript}`;\n\n    return {\n        json: {\n            topicIndex: topicIndex,\n            topicName: topicName,\n            body: JSON.stringify({\n                model: 'qwen3.5:27b-32k',\n                stream: false,\n                think: false,\n                num_ctx: estimateCtx((systemPrompt || \"\").length + (userMsg || \"\").length),\n                system: systemPrompt,\n                prompt: userMsg\n            })\n        }\n    };\n});\n\nreturn items;","mode":"runOnceForAllItems"},"id":"v2-build-topic-intel-prompts","name":"Build Per-Topic Intel Prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[1170,0]},{"parameters":{"jsCode":"const item = $input.item.json;\nconst bodyObj = JSON.parse(item.body);\n\nconst result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:11434/api/generate',\n    body: bodyObj,\n    headers: {'Content-Type': 'application/json'},\n    timeout: 600000,\n    returnFullResponse: false,\n    json: true,\n});\n\nreturn {\n    json: {\n        topicIntel: result.response || '',\n        topicIndex: item.topicIndex,\n        topicName: item.topicName,\n    }\n};","mode":"runOnceForEachItem"},"id":"v2-analyze-topic-intel","name":"Analyze Topic Intel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,0]},{"id":"node-build-intel-llm-body","name":"Build Intel LLM Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1630,0],"parameters":{"jsCode":"function estimateCtx(promptChars, responseTokens) {\n  responseTokens = responseTokens || 2048;\n  const promptTokens = Math.ceil(promptChars / 3.5);\n  const raw = promptTokens + responseTokens;\n  const rounded = Math.ceil(raw / 1024) * 1024;\n  return Math.max(2048, Math.min(rounded, 49152));\n}\nconst wb           = $('Set Metadata').first().json.body;\nconst participants = wb.participants || [];\nconst meetingName  = wb.meeting_name || '';\nconst date         = wb.date || new Date().toISOString().split('T')[0];\nconst minutes      = $('Set Metadata').first().json.minutes.minutes || '';\nconst metrics      = $('Compute Metrics').first().json.metrics;\nconst ragResults   = $('Fetch Historical Context').first().json;\nconst ragChunks    = Array.isArray(ragResults)\n    ? ragResults.map(r => r.text).join('\\n\\n---\\n\\n')\n    : '';\n\n// Collect per-topic intel analyses\nconst topicIntels = $('Analyze Topic Intel').all();\nconst intelSummaries = topicIntels\n    .sort((a, b) => (a.json.topicIndex || 0) - (b.json.topicIndex || 0))\n    .map(item => `### ${item.json.topicName}\\n${item.json.topicIntel}`)\n    .join('\\n\\n');\n\n// Wikilink pre-validation\nconst ragLower = ragChunks.toLowerCase();\nconst confirmedInVault = participants.filter(p => ragLower.includes(p.toLowerCase().split(' ')[0]));\n\nconst systemPrompt = `You are ELITE-INTEL-OMEGA, a world-class Strategic Intelligence Analyst. Synthesize the per-topic intelligence analyses below into ONE cohesive Meeting Intelligence Report.\n\nYour style: Formal yet razor-sharp. Zero fluff, maximum signal. Every inference is evidence-based. Assign explicit confidence %. Flag speculation as \"hypothesis \u2014 needs external validation.\"\n\nWIKILINK RULES: ALL person mentions MUST be wikilinks. Format: [[Lastname Firstname]] (family name first, ALWAYS reorder \u2014 e.g. \"Johanna Aivio\" becomes [[Aivio Johanna]]). [[Firstname]] if only first name known. People confirmed in vault: ${confirmedInVault.join(', ') || 'none confirmed \u2014 use [[Firstname]]'}.\n\nOUTPUT FORMAT (strict Markdown):\n# MEETING INTELLIGENCE REPORT\n**Meeting**: ${meetingName} \u2014 ${date}\n**Analyst**: ELITE-INTEL-OMEGA\n\n## 1. Executive Summary\n(3-5 bullets: highest-signal insights)\n\n## 2. Participant Intelligence Profiles\n(Per person: Role | Core Drivers + evidence | Key Fears + % | Leverage Points)\n\n## 3. Linguistic & Behavioral Forensics\n(Deception/Withholding clusters, Emotional Tone Map, Communication Patterns \u2014 reference metrics)\n\n## 4. Secrets, Fears, Motivations & Hidden Agendas\n\n## 5. Relationship & Power Dynamics\n(Alliances/Tensions, Strategic Leverage)\n\n## 6. Actionable Recommendations\n(Immediate tactical + Strategic long-term + Monitoring signals)\n\n## 7. Longitudinal Delta\n(vs. previous meetings from historical context, or \"First encounter \u2014 baseline established\")\n\n## 8. Obsidian PKMS Integration\n(New wikilinks, atomic notes, MOC updates \u2014 all people as [[Name]])\n\nBe ruthless in honesty, constructive in recommendations.`;\n\nconst userMsg = `## PER-TOPIC INTELLIGENCE ANALYSES\n${intelSummaries}\n\n---\n\n## QUANTITATIVE METRICS\n${metrics}\n\n---\n\n## HISTORICAL CONTEXT (vault excerpts)\n${ragChunks || 'No historical context found.'}`;\n\nreturn [{ json: { body: JSON.stringify({\n    model: 'qwen3.5:27b-32k',\n    stream: false,\n    think: false,\n    num_ctx: estimateCtx((systemPrompt || \"\").length + (userMsg || \"\").length),\n    system: systemPrompt,\n    prompt: userMsg\n}) } }];"}},{"id":"node-generate-intel-report","name":"Generate Intel Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,0],"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":900000}},"continueOnFail":true},{"id":"node-build-intel-note-body","name":"Build Intel Note Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2090,0],"parameters":{"jsCode":"\nconst wb          = $('Set Metadata').first().json.body;\nconst date        = wb.date || new Date().toISOString().split('T')[0];\nconst meetingName = wb.meeting_name || 'Meeting';\nconst resp        = $input.first().json;\nconst report      = resp.response || '';\nif (!report) { return [{ json: { intelPath: '101 - Meeting Intelligence Reports/(intel skipped \u2014 LLM returned empty)' } }]; }\n\nconst now = new Date();\nconst _hTime = new Date(now.toLocaleString('en-US', {timeZone: 'Europe/Helsinki'}));\nconst _pad = n => String(n).padStart(2, '0');\nconst createdAt = `${_hTime.getFullYear()}-${_pad(_hTime.getMonth()+1)}-${_pad(_hTime.getDate())} ${_pad(_hTime.getHours())}:${_pad(_hTime.getMinutes())}`;\n\nconst safeName = meetingName.replace(/[\\/\\\\:*?\"<>|]/g, '-');\nconst path       = `101 - Meeting Intelligence Reports/${date} ${safeName} - Intelligence Report.md`;\nconst minutePath = `100 - Meeting minutes/${date} ${safeName}.md`;\nconst header     = `Intel report generated: ${createdAt}\\nClassification: PERSONAL \\u2014 RESTRICTED\\nTemplate Version: M15.1\\n\\n---\\n\\n`;\nconst crossLink  = `\\n\\n---\\n\\n*Meeting Minutes: [[${minutePath}]]*`;\n\nreturn [{ json: { body: JSON.stringify({ path, content: header + report + crossLink, overwrite: true }), intelPath: path } }];\n"},"continueOnFail":true},{"id":"node-create-intel-note","name":"Create Intel Note","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,0],"parameters":{"method":"POST","url":"http://host.docker.internal:8090/api/create_note","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"continueOnFail":true}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Set Metadata","type":"main","index":0}]]},"Set Metadata":{"main":[[{"node":"Get Transcript JSON","type":"main","index":0}]]},"Get Transcript JSON":{"main":[[{"node":"Compute Metrics","type":"main","index":0}]]},"Compute Metrics":{"main":[[{"node":"Build RAG Query","type":"main","index":0}]]},"Build RAG Query":{"main":[[{"node":"Fetch Historical Context","type":"main","index":0}]]},"Fetch Historical Context":{"main":[[{"node":"Build Per-Topic Intel Prompts","type":"main","index":0}]]},"Build Per-Topic Intel Prompts":{"main":[[{"node":"Analyze Topic Intel","type":"main","index":0}]]},"Analyze Topic Intel":{"main":[[{"node":"Build Intel LLM Body","type":"main","index":0}]]},"Build Intel LLM Body":{"main":[[{"node":"Generate Intel Report","type":"main","index":0}]]},"Generate Intel Report":{"main":[[{"node":"Build Intel Note Body","type":"main","index":0}]]},"Build Intel Note Body":{"main":[[{"node":"Create Intel Note","type":"main","index":0}]]}},"pinData":{}}